[2009-05-31 08:15] ijuma opened #1 "Test issue"
Creating a test issue.

[2009-05-31 08:16] #1 closed, assigned to nobody

[2009-06-03 19:21] ijuma opened #2 "Move issues from Google Code to this tracker"
We should move the issues from Google Code to this tracker. I suggest we just move the ones that are not in progress. For the ones that are likely to be finished within this month (and have already been started), it seems to me that it's easier to just leave them there and close them once it's done.

[2009-06-03 19:24] ijuma opened #3 "Client thread pool configured incorrectly"
The client thread pool currently provides a single thread and it only grows when the queue is full and that queue is large. See the following thread for more information:

http://groups.google.com/group/project-voldemort/tree/browse_frm/thread/e2f3c35ff644a7c7/e97aea84f61cb9f4?rnum=11&_done=%2Fgroup%2Fproject-voldemort%2Fbrowse_frm%2Fthread%2Fe2f3c35ff644a7c7%2F04110e60b37acc90%3F#doc_04110e60b37a

[2009-06-03 19:25] ijuma opened #4 "Convert hudson to run against git."
Convert Hudson to use the git repository.

[2009-06-03 19:26] ijuma opened #5 "Convert site html to point at github site."
Need to change site html to point to github site.

[2009-06-03 19:27] ijuma opened #6 "Move site from svn to git"
Create a site repository and move content from google code's SVN.

[2009-06-03 19:28] ijuma opened #7 "Delete the google code site"
Once everything has been moved, the google code site can be deleted.

[2009-06-03 19:29] ijuma opened #8 "Create contribution guidelines"
To start with, this can be a paragraph or two.

[2009-06-03 19:31] ijuma opened #9 "Provide easy access to users who don't use git"
I am not sure if there's a way to expose a git repository as a svn one. Maybe the easiest is to provide tarballs straight from Git. That way someone can just download it immediately, make the changes and provide a patch.

[2009-06-04 05:53] #4 closed, assigned to nobody

[2009-06-04 06:40] #3 closed, assigned to nobody

[2009-06-04 06:55] jkreps opened #10 "Pack repeated fields in protocol buffers protocol"
As Ismael pointed out protocol buffers now supports packed arrays using the [packed = true] option. This appears to be a magical flag similar to OPTIMIZE_FOR=speed. We have several repeated fields and should use this as there seems to be no downside.

http://code.google.com/p/protobuf/source/detail?r=92

I don't think this is a backwards compatible change so we should make it soon before anyone de

[2009-06-04 07:18] ijuma opened #11 "Implement daemon functionality using Akuma"
A quote from here[1]:

"As explained in here, writing a proper daemon requires various function calls that are traditionally only available to native applications. So typically, Java applications rely on external wrappers like Apache commons daemon or Java service wrapper, or even worse, just ignore those conventions and do Runtime.exec.

But this creates an unnecessary inconsistency between how y

[2009-06-04 16:31] #6 closed, assigned to nobody

[2009-06-04 20:22] jkreps opened #12 "Create email notification for hudson build failures"
Currently the hudson server has no ability to send email. Need to install sendmail or something so we can send build failure emails.

The new voldemort commit list is probably a good place to send them.

[2009-06-04 20:25] jkreps opened #13 "Migrate "fun projects" to github wiki"
People should be able to add projects to the list or mark themselves as working on something without having committer capabilities. Hopefully it won't turn into a spam target.

We should also add a page for "easy projects" for people who just want to do something small and useful to get started.

[2009-06-05 14:32] jkreps opened #14 "Create Hudson Accounts for everyone"
Anyone who wants one should get an account to be able to set up build jobs for their repositories or branches.

[2009-06-06 02:40] #5 closed, assigned to nobody

[2009-06-06 02:48] #9 closed, assigned to nobody

[2009-06-06 02:48] #8 closed, assigned to nobody

[2009-06-06 03:17] #13 closed, assigned to nobody

[2009-06-06 09:05] ijuma opened #15 "Allow required reads to be specified during get"
Let's walk through a scenario. A store with preferred/required reads = 1, required writes = 2 and replication factor = 2. To make it simple, let's say that there are only 2 nodes in the cluster. Client is ok with seeing some temporary inconsistency, but doesn't want to lose writes.

After operating for some time, there's a temporary issue with storage in one of the nodes, so it loses some of the u

[2009-06-07 02:21] ijuma opened #16 "Suspicious integer division in RequestCounter.getThroughput"
The division in the code below is suspicious (doing integer division and then assigning to a float makes no sense). Also, why bother with a float here? I'd just use double.

[code]

[2009-06-07 02:28] ijuma opened #17 "MetadataStore.put uses the same code for two branches"
[code]

Either the "else if" should be removed or there's some code missing in either branch.

[2009-06-08 02:55] jkreps opened #18 "IllegalArgumentException in RoutedStore.getAll()"
If preferredReads > 1 but there is only one available node, then the following code in RoutedStore.getAll() will throw an IllegalArgumentException, though it has already passed the checkRequiredReads(availableNodes) which means the request can still succeed if no more nodes fail. I think the fix is just to threshold it at 0.

<pre>
List<Node> extraNodes = Lists.newArrayListWithCapacity(availableNo

[2009-06-09 11:43] #18 closed, assigned to nobody

[2009-06-10 00:59] jkreps opened #19 "Support lists, strings, and byte[] of length greater than Short.MAX_VALUE in JsonTypeSerializer"
We didn't do varints because we are lazy bastards, but we really need to support values larger than Short.MAX_VALUE without breaking compatibility.

Here is a semi-hacky approach that should work. There are three cases:

if the first two bits are 0x then the number is a 2 byte positive length and can be used directly as a length of the bytes to read.

if the first two bits are 11 then the number v

[2009-06-10 07:32] jkreps opened #20 "Sporadic BDB test failure on hudson"
No idea what this is about but it seems to happen in about 1/5 of the runs

voldemort.store.PersistenceFailureException: Shutdown failed.
    at voldemort.store.bdb.BdbStorageEngine.close(BdbStorageEngine.java:306)
    at voldemort.store.bdb.BdbStorageEngineTest.tearDown(BdbStorageEngineTest.java:73)
Caused by: Environment invalid because of previous exception: com.sleepycat.je.RunRecoveryExceptio

[2009-06-11 21:12] ijuma opened #21 "Vector clock inconsistency resolver incorrect"
Rob Adams found some issues with the Vector clock inconsistency resolver and posted about it in the mailing list (including a test case):

http://groups.google.com/group/project-voldemort/browse_frm/thread/c311b293b85e4a91

[2009-06-18 16:03] lindner opened #22 "Upgrade to google collections 1.0-rc2"
I asked Kevin B about the stability of the google-collections API and he says that no major changes are in the works before 1.0 is released officially in the next 2 months.

It would be great to get this into the next release.

[2009-06-23 19:20] jkreps opened #23 "Run C++ tests in Hudson"
C++ tests should run in hudson. To do this best way is probably just to add an ant target that runs them and fails if any tests fail. We won't get the pretty xml output but we can live with that for now.

[2009-06-23 20:18] bbansal opened #24 "JsonTypeDefinition Map type key order inconsistency."
JsonTypeDefintion can be created using
1. public JsonTypeDefinition(Object type)
2.  public static JsonTypeDefinition fromJson(String typeSig)

in fromJson()[2] For Map type signatures we sort the key-sub entries to have consistent order while serializing/deserializing But in the constructor[1] we are not sorting and saving the type as it is causing serializing/deserializing issues if map has same

[2009-06-23 22:43] shulei opened #25 "Incorrect coersion of version to short before passing to ClockEntry constructor"
In VectorClock.java, line 249, Math.max(v1.getVersion(), v2.getVersion()) is incorrectly coerced from long to short. It results an exception: java.lang.IllegalArgumentException: Version -532 is not in the range (1, 32767) in ClockEntry constructor.

<pre>
                newClock.versions.add(new ClockEntry(v1.getNodeId(),
                                                     (short) Math.max(v1.ge

[2009-06-25 18:11] #22 closed, assigned to nobody

[2009-06-26 17:37] kevwil opened #26 "build script seems broken"
After running "ant" in a terminal, the dist folder has these jars:

voldemort-${curr.release}-src.jar
voldemort-${curr.release}.jar
voldemort-contrib-${curr.release}.jar
voldemort-test-${curr.release}.jar

[2009-06-29 19:24] shulei opened #27 "ArrayIndexOutOfBoundsException in src/java/voldemort/routing/ConsistentRoutingStrategy.java"
The following line in file src/java/voldemort/routing/ConsistentRoutingStrategy.java, method routeRequest can cause an ArrayIndexOutOfBoundsException.

<pre>
   public List<Node> routeRequest(byte[] key) {
        ...
        int index = Math.abs(hash.hash(key)) % this.partitionToNode.length;
        ...
    }
</pre>

[2009-07-03 15:06] #26 closed, assigned to nobody

[2009-07-03 18:58] jtuberville opened #28 "RoutedStore.put timeout can be exceeded"
It is possible in worst case situations to exceed the timeout during a put operation.  I created test/unit/voldemort/store/routed/TimeoutTest.java in git://github.com/jtuberville/voldemort.git to illustrate this and have provided a proposed fix in my fork.  This has been discussed in the thread http://groups.google.com/group/project-voldemort/browse_thread/thread/a5d5e4bdedad0d87

[2009-07-04 17:22] #24 closed, assigned to nobody

[2009-07-05 09:30] #27 closed, assigned to nobody

[2009-07-05 16:32] #25 closed, assigned to nobody

[2009-07-05 17:02] ijuma opened #29 "Use varints to improve space usage of serialized VectorClock"
If we use varints, we can improve space usage of the serialized VectorClock. It also allows us to remove the limitation of 32k clock entries (well, at least replace it with a 2^31 limitation).

The implementation itself is easy, but we need a migration strategy for all the data out there. Jay, do you think this is worth it and any ideas for the migration strategy?

I implemented the serialization

[2009-07-05 17:30] ijuma opened #30 "Use protocol buffers API to improve the efficiency of the network protocol"
As Rob Adams noted in a thread long ago:

"Also, I think what you want to implement the message size thing is to
call Message.ByteSize() on writing and when reading construct a
CodedInputStream and then use the API on that to limit it to read a
specific number of bytes from the stream.

This is referenced here in the pb docs:
http://code.google.com/apis/protocolbuffers/docs/techniques.html#streami

[2009-07-05 23:06] #21 closed, assigned to nobody

[2009-07-07 17:54] shulei opened #31 "Not all server side VoldemortExceptions are defined in ErrorCodeMapper."
PersistenceFailureException is not defined in ErrorCodeMapper. It caused the following exception:

<pre>
Exception in thread "handler393980" java.lang.IllegalArgumentException: No mapping code for class voldemort.store.PersistenceFailureException
    at voldemort.store.ErrorCodeMapper.getCode(ErrorCodeMapper.java:66)
    at voldemort.server.protocol.vold.VoldemortNativeRequestHandler.writeExceptio

[2009-07-08 06:36] prb opened #32 "WAR dependencies are a bit of a mess"
This could be addressed with Maven (i.e., scoping of dependencies appropriately with test/provided), but right now, at least the junit and servlet JARs are superfluous if not also the jetty JARs, the tomcat Ant task JAR, and probably others.

[2009-07-13 21:46] #28 closed, assigned to nobody

[2009-07-14 08:59] #2 closed, assigned to nobody

[2009-07-14 09:00] #7 closed, assigned to nobody

[2009-07-16 07:52] #10 closed, assigned to nobody

[2009-07-16 07:54] #11 closed, assigned to nobody

[2009-07-16 07:56] #32 closed, assigned to nobody

[2009-07-16 07:58] #23 closed, assigned to nobody

[2009-07-16 08:07] #16 closed, assigned to nobody

[2009-07-16 08:09] #12 closed, assigned to nobody

[2009-07-16 08:11] #14 closed, assigned to nobody

[2009-07-16 08:13] #17 closed, assigned to nobody

[2009-07-16 08:17] #19 closed, assigned to nobody

[2009-07-16 08:19] #20 closed, assigned to nobody

[2009-07-16 08:22] #15 closed, assigned to nobody

[2009-07-16 08:26] #31 closed, assigned to nobody

[2009-07-16 08:27] #29 closed, assigned to nobody

[2009-07-16 08:29] #30 closed, assigned to nobody

[2012-09-09 19:15] astubbs opened #93 "async client library"
Correct me if I'm wrong, but there's currently no asynchronous java client library for voldemort. Would be great if we had one..

[2012-09-19 05:06] derek-gerstmann opened #96 "0.96 performance for 100M inserts?"
Can anyone point me to expected performance on 0.96 for the internal voldemort-performance-tool.sh benchmark (or links to YCSB voldemort stats)?

In particular, I'm interested in inserts and retrievals for >100M records (~16byte key, ~256byte value).

I'm primarily focused on single node performance, and assuming that sharding across more nodes will provide near linear scalability.

So far, the be

[2012-09-19 09:36] vinothchandar opened #97 "Mechanism to get a timeline consistent change stream out of Voldemort"
http://code.google.com/p/project-voldemort/issues/detail?id=2

This is a very useful feature to have with tons of use cases- data backup , feedback loop back into offline processing.

[2012-09-19 09:39] vinothchandar opened #98 "Cleanup parameter names"
Some issues mentioned here
http://code.google.com/p/project-voldemort/issues/detail?id=9

But the larger picture should cover the following.

-- Refactor VoldemortConfig, ClientConfig, AdminClientConfig etc.
-- Sanity check default values
-- Rename parameters if needed. Make sure javadoc is very descriptive

[2012-09-19 09:42] vinothchandar opened #99 "MysqlGrowth uses fi instead of fj"
Moving http://code.google.com/p/project-voldemort/issues/detail?id=65 over.

Someone needs to investigate this and close it out, if all is well

[2012-09-19 09:44] vinothchandar opened #100 "Implement RoutedStoreTest.testObsoleteMasterFails"
http://code.google.com/p/project-voldemort/issues/detail?id=91

[2012-09-19 09:48] vinothchandar opened #101 "JsonReader.java reads int not long"
http://code.google.com/p/project-voldemort/issues/detail?id=105

From what I see, currently getNumber returns a Number object and only seems to read int.

[2012-09-19 09:56] vinothchandar opened #102 "AbstractSocketPoolTest.startTest calls JUnit assert methods outside main thread"
http://code.google.com/p/project-voldemort/issues/detail?id=141

[2012-09-19 09:58] vinothchandar opened #103 "The enabled storage engines should be derived automatically from the stores.xml file"
http://code.google.com/p/project-voldemort/issues/detail?id=166

[2012-09-19 10:00] vinothchandar opened #104 "VoldemortConfig validation should be made uniform"
http://code.google.com/p/project-voldemort/issues/detail?id=174

[2012-09-19 10:06] vinothchandar opened #105 "VersionIncrementingStore is not updating the Versioned object after a successful put"
http://code.google.com/p/project-voldemort/issues/detail?id=189

Need to verify that this still happens.

[2012-09-19 10:10] vinothchandar opened #106 "voldemort binds to all interfaces instead of binding to just the host defined in the cluster.xml file for that server"
http://code.google.com/p/project-voldemort/issues/detail?id=232

[2012-09-19 10:13] vinothchandar opened #107 "Voldemort should have way of limiting the size of keys and values in a store"
http://code.google.com/p/project-voldemort/issues/detail?id=237

[2012-09-20 02:24] brentdmiller opened #108 "voldemort-shell.sh handles lists but not arrays"
I'd like a way to see values containing byte arrays.
It would be nice if voldemort-shell.sh could do this for me.

Pull request to follow.

[2012-09-26 14:43] ctasada opened #110 "AdminClient is not reading the client properties file"
When creating an instance of voldemort.client.protocol.admin.AdminClient it is creating a ClientConfig object to pass it to the SocketStoreClientFactory.

At the time this is done, the new SocketStoreClientFactory is created with the default ClientConfig values.

In my case I had jmx disabled on Voldemort, but I was seeing some JMX properties published. After investigating I saw that the cause was

[2012-10-12 18:56] aaronjwhiteside opened #111 "Add OSGi Metadata to Voldemort jars"

[2012-11-05 02:28] yingzhox opened #112 "Enable server side routing strategy in Java client"
Currently Java client only supports client side routing, we need to enable the server-side routing/

[2012-11-30 22:24] vinothchandar opened #113 "Sample cluster configuration interacts poorly with rebalancing"
http://code.google.com/p/project-voldemort/issues/detail?id=246

To my understanding , this can still happen. Leaving it open for now.

[2012-11-30 22:44] vinothchandar opened #114 "Delete failures can lead to a version having different values on different nodes"
http://code.google.com/p/project-voldemort/issues/detail?id=262

This is related to the discussion here at LI to implement soft deletes. So leaving it open.

[2012-11-30 22:51] vinothchandar opened #115 "KeyedResourcePool can starve threads during resource creation, leading to timeouts"
http://code.google.com/p/project-voldemort/issues/detail?id=276

Jay wylie working on this layer of the code.. Stay tuned..

[2012-11-30 23:40] vinothchandar opened #116 "Node IDs should be derived from cluster.xml file whenever possible"
http://code.google.com/p/project-voldemort/issues/detail?id=308

Seems like a good thing to do. Not super critical

[2012-11-30 23:45] vinothchandar opened #117 "Client-Server Socket NIO Protocol can be more efficient in buffer allocation for reads/writes"
http://code.google.com/p/project-voldemort/issues/detail?id=319

Sounds like a valid suggestion

[2012-12-01 00:08] vinothchandar opened #118 "KeyedResourcePool::checkout can lead to false timeouts if resources become invalid"
http://code.google.com/p/project-voldemort/issues/detail?id=333

May not happen with Jay W's non blocking checkouts. Leaving it open for verification

[2012-12-01 00:12] vinothchandar opened #119 "Configuration mismatch - Socket timeout vs Routing timeout"
http://code.google.com/p/project-voldemort/issues/detail?id=339

[2012-12-12 20:52] fridgebuzz opened #124 "WAR target in build.xml is slightly broken"
The current war file build in build.xml does not correctly exclude the servlet-api-2.5.jar file, so the webapp won't load. In Tomcat 7, you'll get an error in catalina.out something like:

INFO: validateJarFile(/opt/tomcat/webapps/voldemort/WEB-INF/lib/servlet-api-2.5.jar) - jar not loaded. See Servlet Spec 2.3, section 9.7.2. Offending class: javax/servlet/Servlet.class

The fix:
in:

[code]

the

[2012-12-20 10:56] ctasada opened #125 "Upgrade HttpClient libraries"
Hi,

Even when with the 0.96 the httpclient libraries where upgraded, some bugs and regression problems where found since then.

http://www.apache.org/dist/httpcomponents/httpcore/RELEASE_NOTES.txt

I thing we should upgrade to, at least, 4.1.4

The 4.2.3 release says:

Regards

[2013-01-09 19:05] davidnewcomb opened #127 "Quickstart Start single node cluster fails to start using voldemort-0.96 (zip/tgz)"
[root@mano10 voldemort-0.96]# bin/voldemort-server.sh config/single_node_cluster
[2013-01-09 19:02:35,296 voldemort.store.metadata.MetadataStore] INFO metadata init().
[2013-01-09 19:02:35,412 voldemort.cluster.Node] WARN admin-port not defined for node:0 using default value(socket_port + 1):6667
[2013-01-09 19:02:35,433 voldemort.store.metadata.MetadataStore] INFO Updating routing strategy for al

[2013-01-10 01:26] #127 closed, assigned to jay-w-opus

[2013-01-25 18:20] dongpf opened #128 "voldemort isn't compatible with jdk1.7"
I built voldemort under jdk 1.7 and found GroupIOException.addSuppressed(Throwable t) confilicted with Throwable.addSuppressed(Throwable exception).

In jdk 1.7, Throwable has a new method, public final synchronized void addSuppressed(Throwable exception), but in jdk 1.6 there is not such method.
That causes the classes extend Exception can't override addSuppressed(Throwable exception).

If you wa

[2013-01-25 18:35] #128 closed, assigned to nobody

[2013-01-25 18:56] aaronjwhiteside opened #129 "StoreClientFactory leaves mbeans around in JMX after close() is called."
StoreClientFactory leaves mbeans around in JMX after close() is called. (Voldemort 1.2.0)

The culprits seem to be the mbeans under the object names

voldemort.store.stats:
voldemort.store.routed:

If I create a new SCF and close it, 10 times. I end up with 10 stores in JMX..

Please see the attached screen shot...

![Screen Shot 2013-01-25 at 1 54 28 PM](https://f.cloud.github.com/assets/1084153/

[2013-04-03 20:44] ctasada opened #132 "Compilation error with Java 7"
Hi,

Seems that Voldemort is not compiling in Java7.

OSX 1.8.2
Java: 1.7.0_17

Results in

[code]

If I switch to Java6 the code compiles properly.

I known it's not the recommended version, but since is now the only officially supported Java version I think it's something to consider.

Best Regards,
Carlos

[2013-04-05 17:40] aaronjwhiteside opened #133 "MockAdminClient to support unit testing operations that use the AdminClient"
For my use case we use AdminClient to retrieve all the keys for a store.

Maybe the ability to retrieve all keys could be added to the StoreClient instead, no filtering required?

[2013-04-05 21:32] aaronjwhiteside opened #134 "AdminClient constructor throws Exception if it cannot connect to any of the voldemort instances"
AdminClient constructor throws Exception if it cannot connect to any of the voldemort instances, unlike StoreClient which retries in the background.

I guess this means it does not support lazy initialization coupled with retries?

We use AdminClient alongside StoreClient to retrieve all the keys of a store, and it would be nice if it had the same behavior.

[2013-04-22 14:54] aaronjwhiteside opened #138 "Consistent binary installation package releases"
The last release in a while was 1.3.0, but now 1.3.1 is out..

[2013-04-29 21:12] jdev22 opened #139 "voldemort.client.StoreClient.put(K, V) failing with IllegalArgumentException / AbstractFailureDetector.checkArgs throwing IllegalArgumentException: requestTime - -21 - less than 0"
Hi,

I am getting the following exception occasionally at voldemort.client.StoreClient.put(K, V). I never saw this with voldemort 1.2.1. Is this a bug?

java.lang.IllegalArgumentException: requestTime - -21 - less than 0
        at voldemort.cluster.failuredetector.AbstractFailureDetector.checkArgs(AbstractFailureDetector.java:246) ~[voldemort-osgi-1.3.1.jar:na]
        at voldemort.cluster.failur

[2013-04-30 17:25] yxhua opened #140 "Update google collect with new google guava library"
The google collect or collections is deprecated, please update it with google guava library.

[2013-05-15 00:21] aaronjwhiteside opened #144 "voldemort-stop.sh does not work, expects installation path to be short."
[code]

returns nothing on my machine..

I'm running Fedora 17.

However if I run:

[code]

I get..

[code]

As you can see the path is so long that the main class is chopped off and thus the grep in the voldemort-stop.sh shows up nothing.

[2013-05-21 01:56] #139 closed, assigned to nobody

[2013-05-24 00:57] #144 closed, assigned to nobody

[2013-05-28 22:39] vinothchandar opened #145 "Currently RedirectingStore wraps RetentionEnforcingStore in the Voldemort server.."
This can result in unnecessary fetches during rebalancing, where the stealer mistakes expired data for absent data and issues proxy get.. This is not a big deal now that proxying is always within the same colo..

But, nice to get this order right..

[2013-06-21 15:59] #140 closed, assigned to singhsiddharth

[2013-07-17 09:36] jmason opened #149 "NPE during rebalance with 1.3.0"
Hi there -- while performing a rebalance on our production cluster, from 3 to 4 nodes, the rebalance aborted partway through with the following error logged to console:

[code]

Digging into the logs on node 3 in the cluster, I see:

[code]

voldemort.client.rebalance.RebalancePartitionsInfo.create(RebalancePartitionsInfo.java:119) is the partitionList assignment below:

[code]

[2013-07-26 13:16] andremann opened #150 "Drop store feature missing"
It seems a "Drop store functionality" has been missing for a loooooong time here..

ref. https://groups.google.com/forum/#!topic/project-voldemort/LI3r43IpBco

[2013-09-24 20:10] #150 closed, assigned to nobody

[2013-10-02 05:45] oldtopos opened #151 "python client nosetests failure"
sudo python setup.py nosetests

fails with

FAIL: Doctest: voldemort.serialization.json_serializer.JsonTypeSerializer._write_dict

File "/home/ubuntu/voldemort/clients/python/voldemort/serialization/json_serializer.py", line 1189, in voldemort.serialization.json_serializer.JsonTypeSerializer._write_dict

To correct change line 1192 to

SerializationException: Missing key: 'a' required by type: Ord

[2013-10-02 14:53] #151 closed, assigned to nobody

[2013-10-15 22:28] vinothchandar opened #153 "Test review flow"
email...

[2013-10-30 17:36] AlfredAtThePlatform opened #155 "Possible Socket leak"
We are using version 0.93.li4 but I think this is still an issue in all versions (from my reading of more recent code and old code).

In our logs we are seeing continually this error message.
"v.s.s.SocketServer[socket-server]: Too many open connections, 200 of 200 threads in use, denying connection from..."

When I do a thread dump I see 200 threads all resembling this general pattern:

[code]

W

[2013-11-04 10:04] dirtysalt opened #156 "links in 'Build and Push' webpage is invalid."
http://www.project-voldemort.com/voldemort/build-and-push.html

I can't download tar.gz from the link http://www.project-voldemort.com/voldemort/build-and-push.tar.gz, seems the link is invalid now.

Is the feature of Build and Push mature now?

[2013-11-13 23:27] #155 closed, assigned to vinothchandar

[2013-11-13 23:28] #153 closed, assigned to singhsiddharth

[2013-11-13 23:31] #149 closed, assigned to nobody

[2013-11-13 23:32] #132 closed, assigned to nobody

[2013-11-13 23:33] #108 closed, assigned to nobody

[2013-11-13 23:38] #112 closed, assigned to nobody

[2013-11-29 01:32] apokluda opened #157 "ObsoleteVersionException when Benchmarking with YCSB"
Hi,

I am trying to benchmark Voldemort running in a four node cluster using YCSB. I obtained the version of YCSB with support for Voldemort 0.96 from ctasada's git repository at [1] and followed the instructions in voldemort/README.md to compile YCSB and run YCSB and Voldemort. The YCSB loading phase runs fine, but when I try to run workloada, I get the following exception:

voldemort.versioning.

[2014-02-12 19:51] #156 closed, assigned to icefury71

[2014-02-26 18:38] ravs opened #164 "Not able to swap read-only store on VDB using HDFS"
I followed the steps mentioned in Building Voldemort read-only stores with Hadoop
[http://data.linkedin.com/blog/2009/06/building-voldemort-read-only-stores-with-hadoop]. I understand that the article is very old and since then VDB has seen a lot of development. But I am not able to swap read-only store. I did struggle at almost every step but I was able to resolve them except the last step, i.e.

[2014-03-09 14:45] bhsaurabh opened #165 "Scala shell for Voldemort"
https://groups.google.com/forum/#!topic/project-voldemort/cYvrck65k9c

Have worked on an elementary scala shell hat can be used by voldemort power users. I would love some feedback/suggestions on the same.

Thanks!

[2014-03-24 10:00] dnascimento opened #167 "Python Client: Store not found"
I tried to run the python client tests (following the Readme instructions) but the client doesn't find the store. Then, I used the Java and Shell clients and both work properly.

ERROR: Tests the JSON serialization with put()/get()
Traceback (most recent call last):
  File "/Users/user/git/voldemort/clients/python/tests/test_client.py", line 175, in test_json_get
    s = self._reinit_json_client()

[2014-03-24 12:14] #167 closed, assigned to nobody

[2014-04-04 08:13] #165 closed, assigned to nobody

[2014-05-01 03:19] #116 closed, assigned to nobody

[2014-10-04 15:04] dnascimento opened #222 "voldemort.store.routed.action.AbstractAction"
I profiled my application (on Wildfly 8) and I found that Logger.getLogger, in **voldemort.store.routed.action.AbstractAction**,  imposes a significative overhead. I would recommend to set it as **static** to reduce this overhead

[2014-12-06 19:09] yahim91 opened #229 "voldemort.store.InsufficientOperationalNodesException"
Hi,

I need to do benchmarking for Voldemort for university. I configured a cluster on 3 openstack instances (hosted at the University). The problem is each instance has 1GB RAM memory and I did the following configuration for each one:

in server.properties  - bdb.cache.size=256M
in bin/voldemort-server.sh  -Xmx512M

I encounter the following error when I run the client script. Could be the memor

[2014-12-06 21:42] #229 closed, assigned to nobody

[2014-12-23 13:22] ctasada opened #232 "HTTP Server Status is Broken"
The voldemort http server-status page is broken and doesn't show the metrics anymore

[2014-12-23 14:21] ctasada opened #234 "GetAll Transformers are not working"

[2014-12-23 19:32] #232 closed, assigned to nobody

[2015-01-30 16:36] thmour opened #237 "Python client can't find existing table."
Using ubuntu server, I've cloned the git repo, ran `ant release` then i run

[code]

I run the shell test via tcp and the table works, adding some sample data.
Then I ran (py 2.7)
[code]

Then I tried running this code:
[code]

I get this error:
[code]

[2015-01-30 17:58] arunthirupathi commented on #237
Try running the java client  or admin client and see if you have a store
named test.

bin/vadmin.sh meta get stores.xml --url tcp://localhost:6667

Thanks,
Arun.

On Fri, Jan 30, 2015 at 8:36 AM, Mouratidis Theofilos <
notifications@github.com> wrote:

[2015-01-30 22:37] thmour commented on #237
Previous comment: "I run the shell test via tcp and the table works, adding some sample data."

So running
[code]
Doesn't mean I got a store named test?

[2015-01-30 22:49] arunthirupathi commented on #237
I am not familiar with Python Client. Some one from the community can
probably help you, otherwise you are going to have an adventure of your
own.

Let us know if you find something interesting.

Thanks,
Arun.

On Fri, Jan 30, 2015 at 2:38 PM, Mouratidis Theofilos <
notifications@github.com> wrote:

[2015-01-31 00:19] thmour commented on #237
I tried to debug it, and it turns out the response contains the error. Maybe the code doesn't create a valid connection. I don't have the knowledge to fix it, and I don't have the time and I don't like adcventures. Making a client that fails on the most basic stuff is not good. This should be fixed.

[2015-01-31 00:37] arunthirupathi commented on #237
Python is a fun client built and maintained by enthusiasts. Java is battle
tested.

Thanks,
Arun.

On Fri, Jan 30, 2015 at 4:19 PM, Mouratidis Theofilos <
notifications@github.com> wrote:

[2015-02-07 03:46] ARES-Z opened #238 "question about read-only store"
I use build-push job load five records to read-only store, but i can search only two records use StoreClient API . I want to find why i cant find the other record.  What can i do for it?

[2015-02-07 04:03] FelixGV commented on #238
Is this on the latest master? Do you think you could provide a sample dataset and unit test that reproduces the error? We'll be glad to fix it if there is indeed such a bug (:

[2015-02-07 06:33] ARES-Z commented on #238
Thanks FelixGV, i have used the latest master , and i will put my store.xml and dataset here, but i don't know how to give you my unit test, so i describe how i executed.
* I get the avro file by useing my mapreduce job ,the result file contains key and value like this
[code]
* Then i execute my build push job create file local file .metadata   ,0_0_0.data,0_0_0.index,1_0_0.data,1_0_0.index
* Fina

[2015-02-12 02:46] #238 closed

[2015-02-12 19:00] arunthirupathi commented on #238
What was the conclusion ? Just curious to understand what caused this.

Thanks,
Arun.

On Wed, Feb 11, 2015 at 6:46 PM, ARES-Z <notifications@github.com> wrote:

[2015-04-07 21:15] hjdesai2 opened #248 "Not able to execute on Multinode Cluster, I have configured Voldemort with Chef and Configuration Paramaters are proper, let me know"
INFO Client zone-id [-1] Attempting to get raw store [voldsys$_metadata_version_persistence]
07-04-2015 14:13:31 PDT build-and-push INFO - WARN Client Zone is not specified. Default to Zone 0. The servers could be in a remote zone
07-04-2015 14:13:31 PDT build-and-push INFO - INFO Client zone-id [-1] Attempting to get raw store [voldsys$_store_quotas]
07-04-2015 14:13:31 PDT build-and-push INFO -

[2015-04-07 21:22] #248 closed

[2015-04-07 21:47] arunthirupathi commented on #248
You are overwriting an old store with a new store definition. Voldemort Read Only Build and Push does not have the capability to update the store definition. You should push a store with a new name instead of trying to overwrite the old store.

[2015-04-22 06:41] hjdesai2 opened #252 "Read-Only Voldemort (Cluster with 4 nodes and replication factor of 3), Can't fetch keys when queried for a particular partition."
Hello,

I have setup 4 Node Cluster of Read-Only Voldemort and pushed the data via HDFS and data resides in Voldemort and according to replication factor = 3 the data is replicated across 3 nodes, so my replication group is for Node 0 ( Node 1 and Node 2) , for Node 1 ( Node 2 and Node 3) , for Node 2 ( Node 3 and Node 0), for Node 3 ( Node 0 and Node 1).

Now, The Partitioning for my cluster is a

[2015-04-22 07:07] arunthirupathi commented on #252
Can you send your cluster.xml and stores.xml ? Feel free to replace the sensitive information with placeholder

Sent from Windows Mail

From: Himay Jesal Desai
Sent: ‎Tuesday‎, ‎April‎ ‎21‎, ‎2015 ‎11‎:‎41‎ ‎PM
To: voldemort/voldemort

Hello,

I have setup 4 Node Cluster of Read-Only Voldemort and pushed the data via HDFS and data resides in Voldemort and according to replication factor = 3 the da

[2015-04-22 22:02] hjdesai2 commented on #252
My Store.xml
<stores>
  <% node[:voldemort][:stores].each do |store| -%>
  <store>
    <name><%= store %></name>
    <persistence>readonly</persistence>
    <routing>client</routing>
    <routing-strategy>consistent-routing</routing-strategy>
    <replication-factor>3</replication-factor>
    <hinted-handoff-strategy>consistent-handoff</hinted-handoff-strategy>
    <required-reads>1</required-read

[2015-04-24 17:26] hjdesai2 opened #255 "How to keep 3 version of data instead of 2 which is by default"
Hello,

I want to keep three versions of my data instead of two which the Voldemort does by default.
Is there any property I can set, so that I can keep one more copy of data.

[2015-04-24 17:37] arunthirupathi commented on #255
What type of Store is it ? For read/write voldemort has replication factor
and setting it to 3, will keep 3 copies.

For read-only build and push, you will set the job properties to
replication factor 3.

Thanks,
Arun.

On Fri, Apr 24, 2015 at 10:26 AM, Himay Jesal Desai <
notifications@github.com> wrote:

[2015-04-24 20:31] arunthirupathi commented on #252
Himay,
         I still could not get time to look into this. Can you use the
older version of the Voldemort Shell voldemort-admin-tool.sh and see if you
were able to  fetch only specific partitions . That will give me one more
data point when I look into this.

Thanks,
Arun.

On Wed, Apr 22, 2015 at 3:02 PM, Himay Jesal Desai <notifications@github.com

[2015-04-25 00:18] hjdesai2 commented on #255
Hi Arun,

I am using read-only and have the replication factor to 3 but I want to have three version folders on each of the 4 nodes of my voldemort cluster. Currently, on each nodes it's only creating two folders[ One Older and Lastest Data], keeping one older version of data and and when I do new push it's creating new version and swapping and linking to the latest folder.

For example,
my_store/

[2015-04-25 00:38] arunthirupathi commented on #255
Voldemort does not support it out of the box. I recommend you making that
parameter configurable in your own private fork. Once you are sure that it
works, you can send us a pull request to merge it upstream.

Thanks,
Arun.

On Fri, Apr 24, 2015 at 5:18 PM, Himay Jesal Desai <notifications@github.com

[2015-04-25 00:58] FelixGV commented on #255
I don't think that's accurate @arunthirupathi.

There is the ```readonly.backups``` config which defaults to 1. This is the number of previous versions to keep around besides the active one. You can set this config to 2 in order to keep a total of 3 versions (1 active + 2 backups).

-F

[2015-04-25 06:36] arunthirupathi commented on #255
My bad I apologize for responding without checking the code

Sent from Windows Mail

From: Felix GV
Sent: ‎Friday‎, ‎April‎ ‎24‎, ‎2015 ‎5‎:‎58‎ ‎PM
To: voldemort/voldemort
Cc: ARUNACHALAM THIRUPATHI

I don't think that's accurate @arunthirupathi.

There is the readonly.backups config which defaults to 1. This is the number of previous versions to keep around besides the active one. You can set th

[2015-04-26 03:29] hjdesai2 commented on #252
I guess with old Admin tool it was running and then I tried with new one again and it worked, but the new one takes extra time then old admin tool. Thanks..

[2015-04-26 03:29] #252 closed

[2015-04-26 07:34] hjdesai2 commented on #255
@FelixGV Thank you for the inputs and @arunthirupathi : Thank you and no worries. It's working fine now.

[2015-04-26 07:34] #255 closed

[2015-04-27 03:06] hjdesai2 commented on #255
@FelixGV Thanks for responding and giving the solution and @arunthirupathi Thanks, and no worries.

[2015-05-04 21:35] hjdesai2 opened #258 "Voldemort's Read-Only is a CP System, need to verify whether all the nodes in a Cluster get all the data."
Hello,

My Cluster Config is as follows:
I have setup 4 Node Cluster of Read-Only Voldemort and pushed the data via HDFS and data resides in Voldemort and according to replication factor = 3 the data is replicated across 3 nodes, so my replication group is for Node 0 ( Node 1 and Node 2) , for Node 1 ( Node 2 and Node 3) , for Node 2 ( Node 3 and Node 0), for Node 3 ( Node 0 and Node 1).

Now, The

[2015-05-05 20:26] #258 closed

[2015-05-06 18:18] hjdesai2 opened #259 "Jmx Monitoring for Voldemort, is not giving me realtime results, for jmx_domain:voldemort.cluster.failuredetector and attribute availableNodeCount"
Hello,

My Cluster Config is as follows:
I have setup 4 Node Cluster of Read-Only Voldemort and pushed the data via HDFS and data resides in Voldemort and according to replication factor = 3 the data is replicated across 3 nodes, so my replication group is for Node 0 ( Node 1 and Node 2) , for Node 1 ( Node 2 and Node 3) , for Node 2 ( Node 3 and Node 0), for Node 3 ( Node 0 and Node 1).

Now, The

[2015-05-07 15:43] #259 closed

[2015-06-04 20:58] hjdesai2 opened #264 "lllvbgekeeficjkujreh"

[2015-06-04 20:58] #264 closed

[2015-06-13 04:50] jfim opened #272 "Link for the project is broken"
Hey there,

The project description on GitHub is "An open source clone of Amazon's Dynamo.
http://project-voldemort.com" but unfortunately the http://project-voldemort.com/ URL is broken. It would seem that the correct URL is http://www.project-voldemort.com/

[2015-07-01 16:21] jeremiq opened #278 "Kerberos authentication is mandatory for Build and Push"
Kerberos authentication is currently required and not configurable. This makes it difficult to test  build and push jobs in any unsecured cluster.

With all other configurations in place, build and push will fail like this:

[code]

The exception is being raised here: https://github.com/voldemort/voldemort/blob/master/contrib/hadoop-store-builder/src/java/voldemort/store/readonly/fetcher/HdfsFetch

[2015-07-01 16:26] jeremiq commented on #278
Relatedly, when running Build and Push in an unsecured cluster, the following empty configuration must be added to the `server.properties`,

[code]

without which this exception will be raised,

[code]

[2015-07-01 18:33] FelixGV commented on #278
Thanks for flagging this issue @jeremiq,

I think we should allow Voldemort to run without security if a config is specified to disable it.

-F

[2015-07-01 18:34] FelixGV commented on #278
Would you like to take a stab at it and send a PR?

-F

[2015-07-16 11:50] elad opened #280 "Download links broken"
Hey,

1. The "Download Latest" link leads to 1.6.0 whereas it seems the latest is 1.9.17 (https://github.com/voldemort/voldemort/archive/release-1.9.17.zip).

2. The "Download Previous Releases" link along with the download link at the top of Quickstart leads to an empty page on GitHub.

[2015-07-16 16:13] arunthirupathi commented on #280
I removed the Download Previous Versions, as it was pointing to versions
more than 3 years old and they are not updated.

I followed the link for the zip and got the right version, 1.9.17

Thanks,
Arun.

On Thu, Jul 16, 2015 at 4:50 AM, Elad Efrat <notifications@github.com>
wrote:

[2015-07-16 17:08] elad commented on #280
@arunthirupathi I'm sorry, but I'm not following:

[code]

What am I missing? :)

[2015-07-21 17:09] elad opened #284 "Let avro.rec.schema be a file, not a string"
Hello,

Would you be receptive to a pull request that changes the semantics such that avro.rec.schema is a path to a schema file (e.g. avro.rec.schema=/path/to/schema.avsc) rather than a string? It makes more sense to me, especially when working with complex schemas.

Note that --is-avro doesn't seem to work (the option parsing is wrong, see #283) so I *think* there shouldn't be compatibility issu

[2015-07-21 23:12] FelixGV commented on #284
Hi,

Can you elaborate on what you're trying to accomplish?

Looking at #283, I imagine you're trying to build a Read-Only data set on Hadoop.

Unfortunately, that script, ```HadoopStoreJobRunner.java```, has not been actively maintained for at least 4-5 years. Some automatic refactorings touched it, but overall, it hasn't been maintained. It probably "works", for some definition of working, but I

[2015-07-22 08:07] elad commented on #284
Hey @FelixGV,

Sure! You guessed right - I want to build a small (4 node, 10-15tb of data) Voldemort cluster with read-only data that will be built on Hadoop and pushed once a month or so.

From my experience, even after applying the fixes (bypassing Kerberos, setting --is-avro, properly passing the schema, using newer Avro), `HadoopStoreJobRunner.java` still doesn't work and the job hangs when st

[2015-07-22 13:27] FelixGV commented on #284
Even though VoldemortBuildAndPushJob extends some Azkaban class, it shouldn't need anything from Azkaban itself in order to work.

It should be trivial to create a VoldemortBuildAndPushJobRunner which has a main() method that reads in params, constructs a Props instance, passes it to the VoldemortBuildAndPushJob's constructor, and then calls run() on it.

I would think that'd be easier than settin

[2015-07-22 16:20] elad commented on #284
@FelixGV I agree. I started looking into Azkaban just to get a feel of it (not too fond of Oozie...) and setup a solo server. After a bit of fiddling I managed to run the wordcount example and now I'm trying to run the actual job.

However, the use of (very) old dependencies by Voldemort is causing trouble with my Hadoop cluster. I already mentioned I have to manually pull in avro-1.7.7 above, and

[2015-07-22 23:25] FelixGV commented on #284
Yeah, the old dependencies are definitely annoying.

What we do internally at LinkedIn is that we shade protobuf to 2.3 and avro to 1.4, so that whatever environment we run on, things always work.

Unfortunately, this shading is currently done as part of an internal build process we have... It should really be put back into open-source though.

I'm sorry that this is kind of a mess right now ): ..

[2015-07-23 06:54] elad commented on #284
It's relieving to hear that's what you guys do! Any chance you could elaborate a bit, maybe even throw in a few pieces from the (gradle?) build scripts to show how that gets done? Do you include both versions of avro and protobuf and shade/transform 1.4 and 2.3 (respectively) for internal uses? Or do you just create a "fat" jar with up-to-date versions of everything except for these two libraries?

[2015-07-23 18:33] FelixGV commented on #284
Hi @elad,

I put together this small run script: https://github.com/FelixGV/voldemort/blob/bnp_runner_script/bin/run-bnp.sh

I haven't tested it completely. It might not work as is, but is perhaps a good starting point.

We probably still need to add the shading stuff to the build for it to run on Hadoop 2 clusters (Hadoop 1 should be fine). For that, I used com.github.johnrengelman.shadow, I can

[2015-07-23 18:40] elad commented on #284
Hey @FelixGV,

Thanks for the script!

It would be great if you could put that up as a gist or even just paste it here. I'd really like to have as few deviations from the official version as possible. From a quick glance at the mailing list and issues I can tell I'm probably not the first nor last to be interested in having Voldemort at least having a chance of working with Hadoop 2 out of the box

[2015-07-23 18:57] miguel0afd opened #287 "Upload artifacts to Maven Central"
Hi,

It would be nice if Voldemort were available at Maven Central. I heard a few months back that some dependencies were been resolved but looks like this tasks was abandoned.

I also tried to import it using https://jitpack.io/ but it didn't success either because a pom file is expected:

https://jitpack.io/com/github/voldemort/voldemort/release-1.9.18-cutoff/build.log

Any news or thoughts?

Th

[2015-07-26 08:22] elad commented on #284
@FelixGV also, is `VoldemortBuildAndPushJobRunner` missing or is it something I should write myself? I don't see it anywhere.

[2015-07-26 16:04] FelixGV commented on #284
Well, it's not merged into master, since I haven't fully verified that it
works all right. It's in the branch I linked to earlier.
On Sun, Jul 26, 2015 at 01:22 Elad Efrat <notifications@github.com> wrote:

[2015-07-26 16:20] elad commented on #284
I got it to work using the following changes to `build.gradle`:

[code]

Getting it to work also required downloading the java/hadoop jobtypes for azkaban and using a particular ordering of the `classpath` parameter in the job configuration. I will soon submit a pull request and write it all up in the wiki so it's easier for others who are having trouble as well.

However, now I'm seeing a much mo

[2015-07-27 01:50] FelixGV commented on #284
Cool, I'm glad you got the shadow build running!

Can you post your job logs, server/store configs and client-side error message in a gist? It shouldn't return null when you have more nodes, of course...

[2015-07-27 13:38] elad commented on #284
Hey @FelixGV, sure!

First, I'd like to point out two things that really made a difference:

  1. The `classpath` in the azkaban job file should be in the following form:

[code]

    Where VOLDEMORT_HOME is where the release was extracted or the repository cloned; LOCAL_HADOOP_CLASSPATH is one or more local directories with Hadoop jars relevant for talking to the cluster; and HADOOP_CONF is usual

[2015-07-27 15:08] FelixGV commented on #284
Hmm, weird,

It seems like you have two pushes happening in parallel on each of your two nodes. Did you put both nodes in the ```push.cluster``` config property of your BnP job? (you should put only one URI per cluster, which can be a single node or a VIP, as you wish).

-F

[2015-07-27 15:09] elad commented on #284
Nope, `push.cluster` is set to only one node (the "bootstrap node"?).

Does it work for you when both nodes are on the same machine?

[2015-07-27 15:11] FelixGV commented on #284
Also, you should enable just BDB or just ReadOnly in your storage engines. In theory they should be able to coexist, but in practice they don't play well together, and BDB will print a bunch of useless server logs (well, useless if you don't use it anyway).

[2015-07-27 15:16] FelixGV commented on #284
I haven't tried both nodes on the same machine, but it should work...

Where is your HDFS cluster? Is it also on the same machine?

Can you print your BnP logs?

-F

[2015-07-27 15:25] FelixGV commented on #284
The other weird thing is that you get "No index or data files found, creating empty files" which shouldn't be the case if BnP executed properly...

-F

[2015-07-27 16:00] elad commented on #284
If I don't enable it, I get the following exception:

[code]

The HDFS cluster is made of a few machines, one of them runs azkaban and the two voldemort instances. They're all on the same network in case it matters...

I don't have the logs from the run above, but I do have logs from other runs though with similar results. Here's an interesting excerpt, see below:

[code]

Right. Also note (in the

[2015-07-27 17:08] FelixGV commented on #284
Hmm... Would you mind pasting the whole BnP log?

As for BDB, everything should be fine if you do ```bdb.enable=false``` and ```slop.enable=false```.

[2015-07-27 21:49] elad commented on #284
Sure, here it is:

[code]

[2015-07-28 10:04] elad commented on #284
By the way. I just tried setting up a three-node and four-node Voldemort cluster. I get the same results. Only one node (node 1 for the three-node cluster and node 0 for the four-node cluster) get data. No data is generated for all other nodes. Even if I bump the replication factor to be equal to the number of nodes no data is generated for them.

One thing that may be related is that this log lin

[2015-07-28 16:12] FelixGV commented on #284
You might want to set build.output.keep=true if you want to see what's going on in the build phase of the job. This way it won't delete the output directory at the end.

[2015-07-28 16:21] elad commented on #284
I think I got it. Look at this:

[code]

It looks like for some reason Hadoop is running in local mode which, among other things, forces the number of reducers to be 1. I'm pretty sure if I can fix that, everything should work.

How do I do that? I set `hadoop.home` in the job file *and* in azkaban's properties to `/etc/hadoop`, but it still thinks it's running in local mode. The jobs don't show u

[2015-07-30 14:39] elad commented on #284
Following up--

I'm now trying to run build-and-push *without* Azkaban.

First, I had to modify `run-bnp.sh` to explicitly call `hadoop ...` to have it run on the cluster. Without that change, it insisted on running locally despite being provided `/etc/hadoop` as HADOOP_HOME. Then, I modified CLASSPATH to be HADOOP_CLASSPATH.

Now I'm coming across issues that apparently stem from some jars not be

[2015-07-30 18:14] FelixGV commented on #284
Hmm...

Thanks for following up on the ```run_bnp.sh``` script. I didn't suspect Azkaban did anything special that enabled the job to run properly on the cluster (rather than in local mode...).

Ideally, I think we should strive to get to a point where we can build a fat jar that has all the required dependencies, protobuf and avro shaded to Voldemort's versions, and doesn't require any special se

[2015-07-30 18:36] FelixGV commented on #284
The BnP job does have some code to add stuff to the distributed cache, BTW. It can be controlled by setting the ```hadoop.external.jarFiles``` config to a comma-separated list of HDFS paths.

Using the distributed cache may be more optimal in the long run, since then there's less jars to spool around on each subsequent runs, but it goes against the goal of running out of the box with as little Had

[2015-07-30 18:44] FelixGV commented on #287
Hi @miguel0afd,

This is something I'd like to do as well.

PR #247 is the only thing that separates us from being able to publish correct Voldemort artifacts.

If you want to pull it, build it, give it a spin and help us test it, that might speed up the process of merging it in.

Thanks.

-F

[2015-07-30 21:28] elad commented on #284
What I meant is that many Hadoop jobs are implemented using ToolRunner. That lets you both pass flags for the program itself (like a configuration file) but also flags to the JVM as well (like -D flags). Is that possible with BnP? Every combination I tried insisted on parsing the stuff as arguments to the program itself rather than JVM.

It doesn't. I only shade protobuf (to 2.3.0) and avro (to 1.

[2015-07-30 21:54] FelixGV commented on #284
Yeah I know Voldemort RO is not straightforward to get up and running... it seems like for a while a lot of stuff went into it that didn't get much testing outside of LinkedIn, which is unfortunate. It'd be nice to whip it back into shape so it's easy to get up and running with minimal set up (no Azkaban, etc.).

If you think it'd help to change my naive ```VoldemortBuildAndPushRunner``` to extend

[2015-07-30 21:58] elad commented on #284
I'm more than happy to help with that, especially if LinkedIn is interested in having others use it as well. I hope it does because after all, it was open sourced. :)

I'm already planning on it.

Thanks for being so helpful and responsive, I definitely feel things are moving in the right direction!

[2015-08-02 09:08] elad commented on #284
Hey @FelixGV,

I got it to work without `hadoop.external.jarFiles` or implementing BnP as a Tool. What I did instead was add jdom to the shaded jar:

[code]

(I figured adding another moving part by requiring some files to be on HDFS outside VOLDEMORT_HOME wasn't a good idea and reimplementing BnP as a Tool, although IMHO important, is at the moment beyond the scope of what I'm interested in doing

[2015-08-02 09:24] arunthirupathi commented on #284
Elad,
    We would love to get a pull request with the changes documented. It
would help the future open source people about the possible issues. When
time permits, we would also like to review the changes you made and would
explore if things can be committed without breaking the backward
compatibility.

Though we don't promise merging in, it is definitely a very valuable help
for future members :

[2015-08-02 15:08] elad opened #290 "Data loss after rebalancing"
Hey,

I'm trying to add a node to a Voldemort cluster (two-node to three-node, all on the same machine) and in the process of rebalancing seem to be losing about a third of the data.

Here's my process:

  * Setup a two-node cluster
  * Run a BnP job to load 100 records into store "foobar"
  * Verify all of the keys are there - all of the keys are present
  * Add node and rebalance (see below for

[2015-08-02 15:23] elad commented on #290
Data point: When I run `vadmin.sh meta get cluster.xml,stores.xml --url tcp://localhost:6666` I get this, note the zeroed version and timestamp for node 2:

[code]

[2015-08-02 16:19] FelixGV commented on #284
Yeah, please send the PR in @elad, I'll review it (:

Awesome work!

-F

[2015-08-03 01:21] FelixGV commented on #290
@gnb, @stotch,

Can one of you comment on this? Do you see any problem with @elad's script or anything else that comes to mind?

-F

[2015-08-04 10:54] mauso opened #291 "Rebalancing Throttler sleep time"
Hi

we try re-balancing data, because we added new node in cluster 2 to 3, when the process is running we have this error every second

[12:49:24,930 voldemort.utils.EventThrottler] WARN Throttler sleep time (588 ms) exceeds window size (50 ms). This will likely result in not being able to honor the rate limit accurately. [voldemort-admin-server-t18]

we have 3 servers with 5 GB the RAM, Java has

[2015-08-04 13:33] elad commented on #284
Hey @arunthirupathi & @FelixGV, I just submitted a pull request (#292) for the changes required to make it work. Please take a look, the BnP runner scripts are new so shouldn't be breaking anything but the changes to `build.gradle` could use a review just to be on the safe side.

Next up is a short writeup with up-to-date examples on how to use it, and when I figure out how to rebalance without lo

[2015-08-04 15:45] FelixGV commented on #291
This is actually not a big a deal... We should change the log to debug-level or even remove it.

[2015-08-04 18:40] FelixGV commented on #284
That's awesome! I'll check it out. Hopefully today, but definitely some time this week.

FYI, I've been working on PR #289 which is unrelated to your stuff but which I'll probably merge in soon, if I don't see any issues in my test environment over the next couple of days. It upgrades the Hadoop lib to a modern version which contains many Kerberos-related fixes.

[2015-08-10 21:32] hjdesai2 commented on #290
@elad  and @FelixGV apart from the above process, is there any-other way to rebalance, the Read-Only Voldemort. ? like some tips, to avoid data loss.

[2015-08-10 21:46] elad commented on #290
@hjdesai2 I don't know. I still haven't succeeded in rebalancing Voldemort without data loss. I'm *sure* I'm doing something wrong but I haven't figured out yet what it is!

[2015-08-10 21:59] stotch commented on #290
@elad,

From the output, it looks like no data movements were actually performed. If I recall correctly, I think stores with <= replicationFactor 1 are skipped and that there's no support for rebalancing rf 1 stores. It's been a long time since I have worked with that code, though, so I'd have to walk through the whole process to verify, but I know that when we have done rebalances of read-only cl

[2015-08-10 22:03] elad commented on #290
@stotch - thanks for taking a look at this. Your suggestion sounds good, I'll give that a try first thing tomorrow morning and follow up.

[2015-08-11 15:22] arunthirupathi commented on #290
Also make sure that no pushes happen during the rebalance. Typically we
achieve that by setting the fetcher property to null, bouncing the cluster,
rebalancing the cluster, set the property back to the right fetcher and
bounce again.

Thanks,
Arun.

On Mon, Aug 10, 2015 at 3:04 PM, Elad Efrat <notifications@github.com>
wrote:

[2015-08-11 15:25] singhsiddharth commented on #290
I think, now we have an admin API to disable the fetches so there is no
need to make the fetcher null. Just use that API to disable the fetches.
On Aug 11, 2015 8:22 AM, "ARUNACHALAM THIRUPATHI" <notifications@github.com>
wrote:

[2015-08-11 15:43] arunthirupathi commented on #290
Yep, Sid is right, I completely forgot about that.

Thanks,
Arun.

On Tue, Aug 11, 2015 at 8:25 AM, singhsiddharth <notifications@github.com>
wrote:

[2015-08-12 01:10] FelixGV commented on #278
Hey @jeremiq, I fixed this in #298.

You need to set ```hadoop.security.authentication=simple``` in the Hadoop config in order to disable Kerberos.

Let me know if you can give it a spin!

-F

[2015-08-12 01:10] #278 closed

[2015-08-12 22:35] FelixGV commented on #291
I think this was actually a symptom of a genuine issue. Thanks for pointing it out. I changed the ```EventThrottler```'s default setting and things should work correctly now. The change is in 3c6be4b36fb781ceddf6bbb499c777b9e27095bc. Let me know if you still see any issue.

[2015-08-12 22:35] #291 closed

[2015-08-17 18:02] FelixGV commented on #284
All right, I think this issue can be closed now... The shading build changes and BnP run script are merged into master and released as part of version 1.9.19.

Feel free to open new issues if you encounter any problem (:

-F

[2015-08-17 18:02] #284 closed

[2015-08-17 18:05] elad commented on #284
Hey @FelixGV, sorry for the long silence - I got flooded with other, unrelated work just when I thought I'd have a chance to test things out with RF>1 and your patches. But I haven't forgotten, and I'll definitely follow up where appropriate and you can count on issues (and pull requests) coming your way if I find any problems! :) Thanks!

[2015-08-17 18:08] FelixGV commented on #284
All right great (:

No worries about the silence. Happens even to the best of us ;)

Looking forward to hearing about your experimentations!

-F

[2015-09-09 20:41] FelixGV commented on #290
Hi @elad,

Have you had a chance to figure this out?

-F

[2015-09-09 21:00] elad commented on #290
Hey @FelixGV, sorry for the silence, but unfortunately I still haven't had the time to look into it. :( Literally the day after posting that comment I had to bump urgency on a bunch of other things. Voldemort is right after though - it's still the leading choice for what I need it for - and I will definitely follow up as soon as I can. Now that I see it's been a month (!) I'll try to make some tim

[2015-09-09 21:05] FelixGV commented on #290
Sure, np @elad (:

[2015-10-20 19:56] Exide commented on #280
more than 3 years old and they are not updated.

What if I need a version that old? Where do I download older releases?

[2015-10-20 20:10] arunthirupathi commented on #280
Ryan, you can always clone the git repository, checkout a branch
(release-<Version>) and build your own. Sorry that it is extra work, but
often we run into issue where people download older releases and open
issues that are old.

Our team of contributors is small and we did not have the time to automate
the process of uploading new releases and keep it up-to date.

Thanks,
Arun.

On Tue, Oct 20, 2

[2015-10-20 20:36] Exide commented on #280
That is unfortunate. I've looked through the branches, releases, and tags and there is nothing for the version I need (0.90).

Thank you for the quick response.

[2015-10-20 20:37] singhsiddharth commented on #280
https://github.com/voldemort/voldemort/tree/release-090

[2015-10-20 20:48] Exide commented on #280
Thank you. I appreciate the link. I did not notice pre-1.0 releases didn't use a period in the branch name.

[2015-10-20 21:04] FelixGV commented on #280
On a side-node @Exide, I would heavily suggest considering doing the upgrade.

There are LOTS of improvements that went in since 0.90 (: ...

[2015-10-20 21:12] FelixGV commented on #280
For example, this is what went into the latest release, 1.10 (:

https://engineering.linkedin.com/blog/2015/10/voldemort-1-10-open-source-release

But a lot also went in 1.9 and the others before that (: ...

-F

[2015-10-21 02:00] Exide commented on #280
That is definitely part of the plan :)

[2015-11-11 15:16] maauso opened #337 "Can't open a cursor Database was closed"
Hi!
we can see some errors with clean up process every night, may be the problem is that these stores are empty, but I'm not sure or it's a bug

Attach log file
[error00.txt](https://github.com/voldemort/voldemort/files/31958/error00.txt)

[2016-01-28 22:33] rao222 opened #374 "Version upgrade"
We are on Voldemort 1.3 and wants to upgrade to 1.10. Can some one please let me know whether we can upgrade from 1.3 to 1.10 right away?

[2016-01-28 22:39] arunthirupathi commented on #374
Is this a server or client version ? Client no problem at all, you should do it right away.

Server, there is a BDB JE version upgrade from 4.* to 5.*

[2016-02-16 10:17] dmaier95 opened #376 "cluster contraction"
It's possible to reduce the number of nodes whitout a huge downtime?

[2016-02-16 20:15] FelixGV commented on #376
Yes, both cluster expansion and shrinkage are online operations. There is an impact to the cluster because of data movement, and so you should monitor it carefully, but it is meant to be done without any down time nonetheless.

[2016-02-16 20:35] dmaier95 commented on #376
@FelixGV

Thank you for your quick response. Do you have a short tutorial for cluster shrinkage?

[2016-03-15 02:09] kapiliitr opened #385 "ConcurrentHashMap.keySet() NoSuchMethodError"
I have jdk1.8.0_74 installed on my system. I am getting the error-
Exception in thread "main" java.lang.NoSuchMethodError: java.util.concurrent.ConcurrentHashMap.keySet()Ljava/util/concurrent/ConcurrentHashMap$KeySetView;
        at voldemort.store.metadata.MetadataStore.updateRoutingStrategies(MetadataStore.java:526)
        at voldemort.store.metadata.MetadataStore.init(MetadataStore.java:690)

[2016-03-15 05:43] arunthirupathi commented on #385
What version of Voldemort are you using?

Try the latest master.

https://github.com/voldemort/voldemort/commit/3378d6cba0a06bfbb6e2871d8008e425cfbed7ab

Thanks,
Arun.

On Mon, Mar 14, 2016 at 7:09 PM, Kapil Agarwal <notifications@github.com>
wrote:

[2016-03-15 12:27] kapiliitr commented on #385
1.6
I downloaded the latest release from project-voldemort.com
On Mar 15, 2016 1:43 AM, "ARUNACHALAM THIRUPATHI" <notifications@github.com>
wrote:

[2016-03-15 17:27] FelixGV commented on #385
Hi Kapil,

I'm sorry that the website contained misleading information. I've fixed it.

The latest version is currently 1.10.13, and it contains the fix that Arun mentioned.

-F

[2016-03-15 22:04] kapiliitr commented on #385
It works now :)

Regards,
Kapil Agarwal

On Tue, Mar 15, 2016 at 1:27 PM, Felix GV <notifications@github.com> wrote:

[2016-04-10 08:00] busbey commented on #287
bump. Any progress on getting voldemort client jars published to Maven Central (or any publicly accessible maven-compatible repository)?

[2016-04-15 22:30] arunthirupathi commented on #287
@busbey  we have plans to clean this up in the next 3 months as part of our internal effort. When we are done with this, How can we integrate it back with YCSB in the future ?

[2016-04-15 22:37] busbey commented on #287
Opening a PR against the project should be it.

Undoing the commenting out done in [YCSB-307](https://github.com/brianfrankcooper/YCSB/pull/307/files) will put it back into the build system. Then you'll have to update the pom for the voldemort-specific module to use the artifact you've published in maven central.

After that, compilation errors should tell you how much the existing use of hte clie

[2016-04-15 22:41] arunthirupathi commented on #287
Thanks @busbey  appreciate that, will get to it and update the comment.

[2016-04-25 07:09] ARES-Z opened #401 "Get 'lang.OutOfMemoryError: Java heap space' exception when update entries from file"
When i attemp to update entries from file ,but i got the exception on the following：

[code]

How can i update the entries in the file?

[2016-04-25 07:25] arunthirupathi commented on #401
What is the command you are running ?

Thanks,
Arun.

On Mon, Apr 25, 2016 at 12:09 AM, ARES-Z <notifications@github.com> wrote:

[2016-04-25 07:30] ARES-Z commented on #401
the command i used is :
`bin/vadmin.sh stream update-entries --dir /data/voldemort-entries/ --node 0 --url tcp://$voldemort_host:$voldemort_post`

[2016-04-25 17:48] arunthirupathi commented on #401
Try increasing the Voldmeort Options to 16G or 32G to see if the issue goes
away.

VOLD_OPTS="-Xmx2G -server -Dcom.sun.management.jmxremote "

https://github.com/voldemort/voldemort/blob/master/bin/run-class.sh#L43

If the issue reproduces consistently even after that, try attaching
jvisualvm and see what are the top objects reatined by size. I could not
find.

On taking a cursory look at the code

[2016-04-27 02:34] ARES-Z commented on #401
I found the reason for the problem after looking at the code, i will try to fix it.

Thanks Arun !

[2016-05-13 19:42] FelixGV opened #407 "HdfsFetcher has some HDFS operation which is not retried"
The ```fs.isFile``` call here can fail because of a timeout, and there is no retry for it:

https://github.com/voldemort/voldemort/blob/master/contrib/hadoop-store-builder/src/java/voldemort/store/readonly/fetcher/HdfsFetcher.java#L233-L249

We can also re-use the ```isFile``` variable instead of calling ```fs.isFile``` twice.

[2016-05-16 19:11] squarY commented on #407
Shall we add a method "isFile" in BasicFetchStrategy so that we can do retry as same as fetch？

[2016-05-16 19:24] arunthirupathi commented on #407
isFile does not belong to the strategy in my opinion.

I suggest adding a class called HdfsPath in our utils and relying on this
class, instead of using the Path in the HdfsFetcher. Any retry should be
present only in the HdfsPath class.

Thanks,
Arun.

On Mon, May 16, 2016 at 12:11 PM, Yan <notifications@github.com> wrote:

[2016-06-07 10:09] wudong opened #414 "Client Request Socket timeout issue."
Hi all:
I have seen some strange issue relating to client request timeout.
I have set the socket timeout in ClientConfig and the log output is as follow:

[code]
But when I run the client application, I can see some log errors like:

[code]

The actual allowed time and elapsed time both are about 5 ms. It seems the socket timetout setting doesn't take effect.

Am I missing something ?

[2016-06-07 14:25] arunthirupathi commented on #414
What version of voldemort client are you using?
On Jun 7, 2016 3:09 AM, "Wudong Liu" <notifications@github.com> wrote:

[2016-06-07 14:50] wudong commented on #414
It is branching off 1.9.17, with some minor changes to using avro 1.7

[2016-06-07 15:28] arunthirupathi commented on #414
Do you have multiple client factories ? Do you use Admin Client ?

There are some system store poller threads, whose timeouts does not carry
forward from the client timeouts in older versions.

Admin client timeouts were also not correctly set from the client timeouts
in the older versions.

Try upgrading the client to the latest version and see if the problem goes
away. If not, probably you need

[2016-06-09 07:32] elad commented on #280
This is no longer an issue since the "Download" link leads to the GitHub releases page. Thanks!

[2016-06-09 07:32] #280 closed

[2016-06-09 17:09] FelixGV commented on #280
Thanks for the clean up @elad (:

How's it going with Voldemort? Are you up and running now?

[2016-06-09 21:53] elad commented on #280
Hey @FelixGV, I'm dusting off my Voldemort notes and will pick up from where I left off. I'll be sure to follow up on the issue I had last time (#290). :)

[2016-06-13 12:19] elad commented on #290
Alright, so, using the latest master branch, the problem persists. I believe I'm doing something wrong, so I'm going to detail again what it is exactly that I'm doing so that hopefully someone will be quick to point me to my error.

Scenario: All nodes run locally on the same machine using different ports and different config dirs. Start a two-node read-write cluster (based on `config/four_node_cl

[2016-06-14 14:12] arunthirupathi commented on #290
Can you post your rebalance script as well ?

On Mon, Jun 13, 2016, 5:19 AM Elad Efrat <notifications@github.com> wrote:

[2016-06-14 14:20] elad commented on #290
@arunthirupathi anything not explicitly posted should be verbatim what's in the repository. `${VOLDEMORT_DIR}` is where I cloned it to, and `/bin/rebalance-cluster-expansion.sh` is the [script from the repository](https://github.com/voldemort/voldemort/blob/master/bin/rebalance-cluster-expansion.sh).

(If you're referring to some other script, please quote the relevant part of my comment)

[2016-06-14 17:02] arunthirupathi commented on #290
Elad,
   Since you have the verification script, can you run the verification
script after each command to see where you loose the data. That will help
us narrow down what is going wrong here.

Thanks,
Arun.

On Tue, Jun 14, 2016 at 7:21 AM, Elad Efrat <notifications@github.com>
wrote:

[2016-06-14 18:58] elad commented on #290
@arunthirupathi sure, just did, and debugged the rest of the issue myself. :) Thansk!

For posterity, here's the problem analysis and solution--

The culprit was this part of the above original script:

[code]

What it does is take the final (desired) cluster configuration, copy it over to the new node, and then broadcasts it to the rest of the cluster. What happens is that the new node goes onlin

[2016-06-14 18:58] #290 closed

[2016-06-14 19:30] arunthirupathi commented on #290
Awesome, please let us know if the documentation can be improved or made
clear for the future community. Please feel free to take a stab at the
documentation if you have time.

https://github.com/voldemort/voldemort/blob/gh-pages/rebalance.html

Thanks,
Arun.

On Tue, Jun 14, 2016 at 11:58 AM, Elad Efrat <notifications@github.com>
wrote:

[2016-06-14 19:37] elad commented on #290
I definitely think the documentation can be improved. The current documentation talks about the concepts, components, and classes, but doesn't provide an overview of the complete process, at least for cluster expansion. It feels more like internal design documents than user documentation, I guess. IMHO, this is a key feature, and it should be straightforward to use. There are more things I want to

[2016-06-15 18:24] arunthirupathi commented on #290
Thanks @elad

[2016-06-19 09:06] elad opened #418 "Accessing data ("get") over HTTP?"
I recall there was a way to fetch data from Voldemort over HTTP by issuing GET requests. Unfortunately I can't seem to find anything about it... Am I remembering wrong?

FWIW, strictly for my purposes it looks like `ReadOnlyStoreManagementServlet` can help with both fetching values from a read-only store and swapping read-only stores. Although I wonder if it's meant to be used that way since it se

[2016-06-19 15:36] arunthirupathi commented on #418
Voldemort has co-ordinator service, that you can run for HTTP/REST endpoint.

https://engineering.linkedin.com/voldemort/announcing-voldemort-160-open-source-release

https://github.com/voldemort/voldemort/blob/master/bin/voldemort-coordinator.sh

We haven't run this at scale and the performance of the co-ordinator
service will be slower when compared to the java client. But functionality
wise, it

[2016-06-19 15:50] elad commented on #418
Super, looks exactly like what I need. A bit unfortunate that keys are base64, but that's peanuts. :) Thanks!

[2016-06-23 07:26] elad opened #420 "BnP not working"
Hey guys,

I'm trying to run BnP on AWS EMR. My input data is Avro where the `name` field has the key and `content` has the value.

For testing purposes, I've got a tiny EMR cluster (1 master, 2 nodes). The master also runs Voldemort with `config/single_node_cluster`. Here's my BnP config:

[code]

Here's the output from running `run-bnp.sh`:

[code]

As you can see, it boils down to:

[code]

Loo

[2016-06-23 08:23] elad commented on #278
This isn't fixed, I just had to add this to each node's `server.properties` for BnP to work:

[code]

[2016-06-23 08:24] elad commented on #420
Okay, so I just picked up the warning about fetcher class assuming local file. Fixed that in `server.properties`. Also turns out that I had to use `config/readonly_two_nodes_cluster`. Now the error boils down to this:

[code]

(I can provide more context if necessary.)

...turns out that you must add this to `server.properties` (from #278):

[code]

[2016-06-23 08:26] #420 closed

[2016-06-23 08:43] elad commented on #420
For posterity, here are the configurations that worked for me--

BnP config:

[code]

Example node `server.properties`:

[code]

Example node `STORES/test1` (store name is arbitrary):

[code]

[2016-06-23 11:32] elad commented on #418
I'm reopening this because I don't understand how to work with the coordinator yet.

The `curl_samples.txt` file shows a few examples of working with the coordinator. I have a cluster up, and if I connect to it with the voldemort-shell I can get keys from the store. I started the coordinator and when I try accessing it with curl here's what happens:

[code]

Two questions:

  1. Why are these head

[2016-06-23 14:32] elad opened #421 "BnP Avro input to string/string output"
Is it possible to run a BnP job, where the input is Avro, and the output is a read-only store with both the key and the value as simple strings?

It seems to me that once the input is Avro, that also forces the output to be Avro as well. That creates a ton of problems because it seems that client access to the cluster now needs to be Avro-aware, and my use case doesn't need Avro once data is in Vo

[2016-06-23 17:35] arunthirupathi commented on #421
Avro uses UTF-8 to serialize Strings. Voldemort String does the same. Not
sure whether there are any gotchas in the Voldemort client, but you should
be able to use StoreClient<String,String> on Avro UTF-8. There could be
some inconsistencies as I haven't tried this.

Thanks,
Arun.

On Thu, Jun 23, 2016 at 7:32 AM, Elad Efrat <notifications@github.com>
wrote:

[2016-06-23 18:33] elad commented on #421
Take a look at the error I'm getting:

[code]

[2016-06-23 18:45] arunthirupathi commented on #421
Store definition should say Avro Generic, (not versioned) and String. But
Voldemort Client can be StoreClient<String,String>

Thanks,
Arun.

On Thu, Jun 23, 2016 at 11:33 AM, Elad Efrat <notifications@github.com>
wrote:

[2016-06-23 18:48] elad commented on #421
@arunthirupathi I'm not sure what you mean by "Voldemort Client can be StoreClient<String,String>" - there's no Java code involved in this process. Just store definitions on the nodes and BnP configuration. Are you saying that the problem is that the schema-info is specified with a version 0?

[2016-06-23 19:12] arunthirupathi commented on #421
Sorry for not being clear.

Avro String and Voldemort String serializes to same byte representation and
may be back. But Build and Push Job enforces strict check on the Schema so
it will not match. But if you have a client that reads from Voldemort (
general way to do that is by creating a StoreClient, you will directly get
a String).

In other words, what is the problem if you have to define the

[2016-07-10 10:05] elad commented on #421
@arunthirupathi sorry for the delay - I was on vacation.

The way I see it, Voldemort has a design flaw if the output must be Avro as well once the input is Avro. We use Avro as a format for processing in Hadoop. Once we're done with Hadoop, we need the data accessible in a different format. I don't see why I still have to fuss with Avro when I don't really need it. The problem is that I don't wan

[2016-07-10 12:19] elad opened #425 "BnP store size"
Hello,

I'm using BnP to load a 2.5mb Avro file to a two-node read-only Voldemort cluster. The cluster configuration is taken from `config/readonly_two_nodes_cluster`. I use gzip compression and replication factor of 2. I expect the resulting data size across both nodes to be around 5mb. However, it's 11mb.

What could be the reason for the difference in data size? What am I missing?

[2016-07-11 03:49] FelixGV commented on #425
This data growth is expected.

There are various reasons that can affect this, but the main one is that the Avro file in Hadoop can benefit from block-level compression, whereas the Read-Only formatted files can only have record-level compression (which, for certain data sets, does not actually compress at all, in which case, it may be beneficial to turn off compression record altogether). This is

[2016-07-11 03:54] FelixGV commented on #421
It might be possible to use non-Avro serializers in BnP. Some people did mention doing that on the mailing list, but it is not something we support internally at LinkedIn. We don't have much experience with this kind of set up, so we can't offer much guidance.

It might "happen to already work", or it may require a fairly simple patch to polish some of the rough edges. I don't know... I'm afraid y

[2016-07-11 06:09] arunthirupathi commented on #421
As per the mailing list discussions, Voldemort 1.6.9 used to support String
serialization. But 1.10.* only supports Avro or JSON.

As Felix pointed out, Voldemort RO is only tested always with Avro and JSON.

PS : Community had success with using Voldemort RO setup with zoned stores
as well, but that is not intended as well and 1.10.* errors out on these
conditions.

Thanks,
Arun.

On Sun, Jul 10,

[2016-07-11 11:43] elad commented on #425
I figured this would be the reason. Our existing solution seeks directly into Avros so we can maintain block/file-level compression ratios. Works very well with out large chunks of text. Good to know it's not something broken. :)

Thanks!

[2016-07-11 11:43] #425 closed

[2016-07-11 11:46] elad commented on #421
Fair enough. When the time comes, I'll either write my own "coordinator" that knows how to deal with the Avro store and/or custom serializers to avoid Avro knowledge in the resulting stores.

@arunthirupathi why was this functionality removed in 1.10.*, btw?

[2016-07-11 13:48] elad commented on #287
@FelixGV @arunthirupathi I see that #247 was recently closed. Any chance we can have artifacts published to Maven Central? (I'd like to pull the Voldemort client into a project I'm working on...)

[2016-07-12 06:43] FelixGV commented on #425
I'm curious to hear more about the implementation details and performance characteristics of this other solution you're talking about. Is it an open-source or proprietary solution?

Where do you envision Voldemort RO fitting into that? Are you intending it to be a replacement of that other solution or a complementary system for different use cases?

[2016-07-12 06:50] arunthirupathi commented on #287
Elad it is maven ready but someone needs to enable the maven  publishing. I
don't have this experience nor time to work on this in next few weeks.

On Mon, Jul 11, 2016, 6:48 AM Elad Efrat <notifications@github.com> wrote:

[2016-07-12 06:54] FelixGV commented on #287
I have done it for a few other projects and I could do it again, but I'm kind of in a crunch right now. Off the top of my head, I think the last missing pieces before publishing would be to release proper artifacts for the source code and JavaDoc. I know @gnb was working on that a little while back and someone else from the community also mentioned it in passing, but as far as I know, it has not b

[2016-07-12 09:27] elad commented on #287
@FelixGV @arunthirupathi I'll look into it. There are multiple Voldemort packages on Maven already, but all for different versions and not the latest one. At the very least, I'll publish the latest release. :)

[2016-07-12 13:33] elad commented on #287
Okay, so I found https://gist.github.com/lukasz-antoniak/4546021 and used it as a base. Here's a `pom.xml` file that builds `voldemort-1.10.18-javadoc.jar`, `voldemort-1.10.18-sources.jar`, and `voldemort-1.10.18.jar` when you run `mvn package`:

[code]

Note I had to tell it where the sources are (it's not standard Maven hierarchy) and add the Spring repository for an up-to-date version of sleepy

[2016-07-12 15:19] elad commented on #425
It's an internal debugging tool we call AvroDB. We will probably release it as open source at some point because it makes it easy to work with and examine Avro files (Hadoop output) before further processing is taking place.

AvroDB assumes the Avros are sorted and keeps an a (small) local index. The Avros themselves are on S3. When access happens, we read the index (fast) to pick up the Avro bloc

[2016-07-12 15:31] FelixGV commented on #425
That's very interesting, actually! It could be nice to plug in this AvroDB as a storage engine for Voldemort. That could be useful for use cases that have large footprint but do not have low latency requirements. We have some of these use cases here which are hard to optimize, cost-wise, on our current set up.

Anyway, it's just wishful thinking. I don't think we have enough of these large footpri

[2016-07-12 15:37] elad commented on #425
I'll ping this thread once it's open source just so you guys are aware of it. :)

[2016-07-12 15:39] FelixGV commented on #287
I'm not a big fan of maintaining both a Maven and Gradle build, even if they'd be for different purposes, when a single build system can do it all...

If you're in a hurry to get these artifacts published, feel free to run the command and publish them yourself, no one's going to prevent you. But if we're going to check it into the repo, I think it'd be cleaner to do it via Gradle.

And we should a

[2016-07-12 15:39] FelixGV commented on #425
Cool, thanks (: !

[2016-07-12 15:42] elad commented on #287
Right now we're probably going to use an internal repository to hold Voldemort jars. I'm much less familiar with Gradle, so I'll leave that to someone else.

(I just agree with the idea that, ideally, anyone who wants to develop software that interacts with Voldemort could do so by simply including a few lines in a configuration file - be it Maven or Gradle. :)

[2016-07-12 15:48] busbey commented on #287
Just a brief reminder that the YCSB community needs the client jars published to a publicly accessible repo before we can reenable Voldemort testing (which we'd love to do).

[2016-07-12 15:52] FelixGV commented on #287
Yeah definitely, it's a big gap for Voldemort jars not to be included in Maven Central.

No matter what build system publishes the jar to Maven Central, any build system will be able to pick it up with a single line or three.

[2016-07-13 13:11] elad opened #428 "Using Voldemort client as a dependency"
Hello,

I'm trying to write a program that uses Voldemort as a dependency. For that purpose I have packaged Voldemort as a Maven module, uploaded it to a private repository, and included it in the project's POM file as follows:

[code]

I have short test code that I'm using to see if it works:

[code]

When I try to run it, I get this exception:

[code]

The culprit is this code:

[code]

Specific

[2016-07-13 13:54] arunthirupathi commented on #428
Elad,
    I believe I have seen this in the past, where various transitive
dependencies bring different versions of the SAX parser.

I would also suggest you to see, if you can reproduce the exception by
including the dependency on the jar file produced from github repository.

Thanks,
Arun.

On Wed, Jul 13, 2016 at 6:11 AM, Elad Efrat <notifications@github.com>
wrote:

[2016-07-13 14:17] elad commented on #428
I don't think it's got anything to do with the SAX parser in particular. The exception happens because `getResourceAsStream()` returns `null`. Fixing it is a matter of either calling `getClassLoader().getResourceAsStream()` or prepending a slash character to the path passed to the function.

[2016-07-13 14:49] arunthirupathi commented on #428
On re reading you may  have difference in the jar in maven.  Can you
compare jar from the github build and maven. I generally do jar xvf and use
meld to compare.

On Wed, Jul 13, 2016, 7:17 AM Elad Efrat <notifications@github.com> wrote:

[2016-07-13 18:59] arunthirupathi commented on #428
Elad,
       The Part of the code is executed many millions of times and it is
very hard for me to suspect that, it could have issues.

The ClusterMapper class lives in voldemort.xml package and if you look at
the voldemort jar from github it has cluster.xsd and stores.xsd repeated
under the same path.

[PROMPT]$ jar tvf voldemort-1.10.18.jar | grep -i xsd
  1548 Mon Jul 11 19:47:08 PDT 2016 volde

[2016-07-17 06:53] elad commented on #428
@arunthirupathi yeah, I forgot to mirror the path inside the Jar, sorry for the noise!

For future reference, this is needed in `pom.xml` to map resources:

[code]

[2016-07-17 06:53] #428 closed

[2016-07-18 05:40] arunthirupathi commented on #428
Though this issue might be fixed, I recommend you to diff the jars to see
what is different between maven and gradle builds. Voldemort migrated from
ant to gradle couple of years back and I made sure that during migration, I
understood all the differences in jar.

Thanks,
Arun.

On Sat, Jul 16, 2016 at 11:53 PM, Elad Efrat <notifications@github.com>
wrote:

[2016-07-18 10:28] elad commented on #418
I'm closing this issue because the REST server doesn't work with read-only stores, and even if it did, the way it works (requires special headers + returns data that requires additional parsing) doesn't fit my needs. I wrote my own tiny Java service instead that has a much simpler API for my needs.

[2016-07-18 10:28] #418 closed

[2016-07-20 07:38] esawtooth opened #431 "Tab instead of space in indent in client.py"
In line 171 of client.py in the python client
`        self.connection = None`
the indent is done by tab instead of space which causes failure during import.

[2016-07-20 15:50] arunthirupathi commented on #431
Python client is not maintained and could have multiple issues. Please send
a pull request if you are confident.

On Wed, Jul 20, 2016, 12:38 AM Rohit Jain <notifications@github.com> wrote:

[2016-07-31 01:25] WhiteTrashLord opened #433 "Creating client in embedded mode"
I am testing Voldemor. I want to run it in embedded mode. But I have the problem that I don't know how to create the client. I don't want to connect via TCP because it should be slower. Is there a StoreClientFactory for the embedded mode?

[2016-08-01 18:56] FelixGV commented on #433
So you don't need the network stack at all? If that is the case, then you should use Voldemort's storage engine directly (BDB-JE).

[2016-08-01 19:11] arunthirupathi commented on #433
What are your requirements ?

As Felix suggests, if you don't want network, then going with Voldemort is a bad choice in my opinion. Just leverage one of the embedded databases and you will be better off. Embedding a voldemort server is going to be tough as it does not have serialization engine.

If you want schema support then you have to pick and choose voldemort layers carefully, bypass the net

[2016-08-13 09:39] #433 closed

[2016-08-16 15:18] FelixGV commented on #287
FYI,

I've started the process to publish Voldemort artifacts into Maven Central.

https://issues.sonatype.org/browse/OSSRH-24377

-F

[2016-08-16 18:47] elad commented on #287
@FelixGV great news! Following closely. :)

[2016-08-24 10:28] raintears opened #442 "Is there a way to change the communication protocol between nodes?"
Let's say I don't want to use tcp/ip. Can I do that?

[2016-08-30 08:55] modobe2 opened #445 "Build and Push - Error creating/Swapping Stores"
Voldermort Version 1.10.21.  Running the single node cluster configuration.
Hadoop v2.7.2 (setup to run in psuedo distributed mode - single desktop setup)

Used the Build and Push (BnP) Job to initially create and then swap the data store.

Job Configuration
=================
type=java
job.class=voldemort.store.readonly.mr.azkaban.VoldemortBuildAndPushJob
build.input.path=/user/me
build.output.dir

[2016-09-06 20:49] #431 closed

[2016-09-22 20:48] benmccann opened #449 "project-voldemort.com does not load (needs www. prefix)"
project-voldemort.com does not load. You must access www.project-voldemort.com. This means that numerous links in this repo, on the internal wiki, and elsewhere are broken.

[2016-09-26 22:18] mattwisein commented on #449
Fixed here: https://github.com/voldemort/voldemort/pull/450

[2016-09-26 22:18] #449 closed

[2016-10-14 14:31] wudong commented on #414
From the master branch code i could see that:

in SystemStoreClientFactory, a new ClientConfig is created and of which RoutingTimeout is set from the main ClientConfig.

But the setRoutingTimeout() method in the ClientConfig doesn't update the its TimeoutConfig which is created with the default RoutingTimeout value.

It is the TimeoutConfig that used in system store which explains the problem I'm

[2016-11-01 06:13] code-stash opened #456 "Postgres storage engine"
Need support for postgres storage engine.

User should be able to persist the data in postgres DB with a set of configurations that can be done in the server.properties
# Postgresql
pg.host=localhost
pg.port=5432
pg.user=postgres
pg.password=postgres
pg.database=postgres
pg.batchSize=10000

User should be able to able to provide store config using the xml configuration file
<store>
  <name>testPos

[2016-12-07 12:39] gdemecki opened #466 "Broken link in the project description"
Hi, it seems to me that the link at the top of the repository (repo description):

has changed, and should be now http://www.project-voldemort.com.

Regards

[2017-01-23 17:44] #385 closed

[2017-01-23 17:52] arunthirupathi commented on #385
BTW, JAVA 6 is End Of Life and on latest master the minimum requirement is
increased. We are running Voldemort on Java 8 and not actively trying it
out on other versions.

So we highly recommend you to move to Java 8, if you haven't already moved.

Thanks,
Arun.

On Mon, Jan 23, 2017 at 9:44 AM, Kapil Agarwal <notifications@github.com>
wrote:

[2017-02-27 08:18] #401 closed

[2017-03-10 19:24] bitti opened #472 "push.ha doesn't correctly count current failures if there is a previous failure"
We have a 7 node store configured with `push.ha.max.node.failure=1`. Node 6 was failing for a while but fetch and swap was still working thanks to the `push.ha` configuration. But just as we got node 6 back we lost node 2. Still the fetch for the other 6 nodes was successful, but apparently `HandleFetchFailureResponse` doesn't count the number of failed nodes correctly:

[code]

I suspect the prob

[2017-03-10 19:45] FelixGV commented on #472
Hi @bitti,

First of all, let me tell you a bit of background about BnP HA. We have been using BnP HA in production for about a year now, with several tweaks and fixes along the way. It "works" for us, but it has a lot of rough edges, and many known limitations.

It's great that you're trying it out, and hopefully that can pave the path forward to making it better outside of LinkedIn.

This is the

[2017-03-10 20:19] bitti commented on #472
Sure that helps! We still have the node-6 ha-lock files lying around on hdfs, so that's probably the issue. I try to make sure that we clean them up after each push. Or is there any worth to keep/archive them for debugging purposes?

Btw. is this documented somewhere? Or can we add documentation for this and some other push.ha aspects?

[2017-03-10 21:08] FelixGV commented on #472
We have internal documentation which has been in flux. Now that the feature has somewhat stabilized, it would be good to have some public doc as well which would be more suited to the open-source. Alas, we don't have that yet, though I guess the original commit message for the feature could serve as a starting point: https://github.com/voldemort/voldemort/commit/c2db8fd9b0afe714f6f88908c769b66485d

[2017-03-11 00:17] bitti commented on #472
Yes I also started from that commit message. The thing is that this message seems currently be the only documentation available outside of linkedIn.

Do you really have to do manual cleanups after a server fix? Why not just simply cleaning up the corresponding lock directory before attempting a push? What do you do for transient errors, e.g. network problems, when no manual fix was necessary to ge

[2017-03-13 18:05] FelixGV commented on #472
Hi @bitti,

Typically, when restoring a node, you would need to copy data onto the new healthy node. In some types of failure scenarios, you can copy it from the bad node, which is somewhat easy (glossing over some details here). If, however, the down node is completely unrecoverable, then you need to restore the data from peer nodes, which are partitioned differently. This is something we do here

[2017-03-13 19:19] bitti commented on #472
Thanks for the information and I'm looking forward to the runbook and any documentation you could provide for the community.

You didn't answer though what you do for transient problems, i.e. when no manual intervention is required. I'm thinking about just automatically cleaning up all `{push.ha.lock.path}/{push.ha.cluster.id}/node-*/{push.store.name}` directories before pushing a specific store,

[2017-03-13 20:08] FelixGV commented on #472
Yeah, so for transient node issues, the concern is again about data consistency. If you're ok with serving partially stale data coming from a previous push, then you can simply bring that node back online as is, delete the HDFS shared state directory, and let BnP refresh the cluster wide data on its next push.

[2017-03-13 21:35] bitti commented on #472
So to be clear: a failed fetch during a successful push.ha will always set the node with the stale data in `OFFLINE_SERVER` state? And to bring this node back to `NORMAL_SERVER` it has to be restarted? Or is there some admin command for that? Or is it enough to clean the stale lockfiles?

But I don't understand why this should imply stale data. I'm ok with a server getting into `OFFLINE_SERVER` mo

[2017-03-31 23:02] bitti commented on #472
It seems it's not enough to clean up the ha lock files, but the server needs to be manually set back into `NORMAL` state by issuing a `vadmin.sh meta set offline=false -u tcp://some.node:6667`, or do I misunderstand something? Currently we are using server Version 1.10.14.

[2017-04-03 22:17] FelixGV commented on #472
You are correct,

You also need to have a way of successfully restoring the data on the node that was down. That can be done with a new BnP job run, if you're willing to accept serving stale data in the mean time. Or it requires copying files from peer nodes, for which there isn't a very good solution available in the open-source at this time.

-F

[2017-04-03 23:16] bitti commented on #472
I see. So a node in `OFFLINE_SERVER` will never fetch updated data? Shouldn't it be possible to enable the `readonly.fetch.enabled` flag even in offline mode to get a complete BnP run? It makes sense to block an offline server from delivering data when one wants to prevent serving outdated data, but why are updates are also prevented? (Note that we use the Admin port 6667 for pushes)

[2017-04-04 00:04] FelixGV commented on #472
Hi,

That is what we'd like to explore. The original intent was to flip that flag and allow pushes to go into an offline node, but we have not tested this strategy so far, so it may have rough edges.

Exciting stuff ;) !

-F

[2017-04-04 00:28] bitti commented on #472
I see. I might try it out when I encounter the problem next time. (Even though stale data isn't really a big problem for us.) On the other hand our nodes are running more stable now so it might take a while till I get the chance.

In the meantime I would love to close this ticket if you could push some documentation of the current behaviour? (Otherwise I could try to do it, but it surely wouldn't

[2017-04-14 20:56] lifove opened #474 "Compares the same name in equals implementation"
Hi

In a recent snapshot (master branch), I've found a suspicious code that can be a potential bug in src/java/voldemort/store/bdb/BdbStorageEngine.java

[code]

In Line 461, should "s.getName().equals(s.getName())" be  "this.getName().equals(s.getName())"? This might be a trivial issue or a class might be deprecated?  Wanted to report just in case. Thanks!

[2017-04-17 18:05] FelixGV commented on #474
That looks like a bug, yes.

I'm not sure if it ever comes into play, however. If we ever put Storage Engines in maps, it could lead to ugly results...

[2017-05-26 17:39] hkasera opened #475 "Typo in description of Versioned.java"
I noticed a very minor [typo](https://github.com/voldemort/voldemort/blob/ea37ef67fa7724180608510c6d4237167b78dd63/src/java/voldemort/versioning/Versioned.java#L29) in the description of `Versioned.java`. The description says _"This class **it** bad to use in map"_ instead of _"This class **is** bad to use in map"_

If this is a welcome request, I would like to raise a PR to fix this issue.

Regar

[2017-05-26 17:42] singhsiddharth commented on #475
Thanks for catching that. Please raise a PR.

[2017-05-26 17:42] #475 closed

[2017-05-26 17:58] bitti commented on #475
A whole PR for a single character typo? There are a lot of typos I missed in https://github.com/voldemort/voldemort/pull/454, so why not fix some more on this occasion?

[2017-06-13 21:42] hkasera opened #477 "Project link mentioned in the description is not working."
Hello,

I noticed that the project link mentioned in the description is not working. Attached a screenshot of the description -
<img width="646" alt="screen shot 2017-06-13 at 2 40 59 pm" src="https://user-images.githubusercontent.com/6101687/27105987-6db94a82-5046-11e7-82b3-ae413333b98b.png">
I believe the correct url is http://www.project-voldemort.com/voldemort/

[2017-06-14 01:23] robert-blankenship opened #478 "Instructions in README do not work: ClassNotFoundException"
I followed the following steps:

[code]

Only after I ran the following command did it work:

[code]

I used the steps here and it worked: http://www.project-voldemort.com/voldemort/quickstart.html

[2017-06-14 01:27] robert-blankenship commented on #478
[code]

[2017-08-07 16:07] zsoltkatona opened #485 "Unable to build and run Voldemort on Windows 10"
I've followed the instructions in the README.md file, but I wasn't able to run the server under Windows 10. When executing bin\voldemort-server.bat config/single_node_cluster, it's missing the Log4J library and when I build the project with "gradlew clean build -x test" instead of "gradlew clean jar" then I get: "Input line is too long".

[2017-08-07 18:11] FelixGV commented on #485
Hi @zsoltkatona,

Thanks for the interest. Unfortunately, the bat script was written a while back and I'm pretty sure no one tested it on Win 10 yet. None of the current active maintainers work on Windows, so I'm afraid you're on your own for this one.

If you figure out a way to fix the script, please send a PR. We'll take your word for it and merge it in (:

-F

[2017-08-08 07:13] zsoltkatona commented on #485
Thanks for your quick answer, Felix.

Regards, Zsolt

[2017-09-20 06:40] pandaforme opened #490 "How to upgrade voldemort 0.95 to 1.9.22"
I maintain a legacy system and would like to upgrade voldemort 0.95 to 1.9.22.
Follow instructions in "PREUPGRADE_FOR_1_1_X_README".

1. Stop 0.95 and 1.9.22 voldemort instances

2. Upgrade BDB 4 to BDB 5
[code]
3. Use 1.9.22 voldemort-convert-bdb.sh to convert 0.95 BDB
[code]
After the conversion complete, I restart 1.9.22 voldemort instance and try to retrieve data from test store. It's unfortun

[2017-09-20 08:56] pandaforme commented on #490
If I transform BDB format to PidScan, it works...
But transform BDB format to NewDup, it fails...

Does someone know what happens?

[2018-02-25 20:02] blandflakes commented on #287
Whoa - is there any update on this? I'd planned on using Voldemort for a project but if it doesn't live in any standard dependency repository I'll probably end up passing.

[2018-02-26 16:30] FelixGV commented on #287
Unfortunately, pushing to Maven Central was never formally prioritized and it isn't completed yet. I don't recall what issue I had hit with Sonatype but I vaguely remember there was something which made it less straightforward than other projects I had published before. One could pick it back up and bring it to completion, I suppose, but I likely won't have time in the short term.

Sorry guys.

[2018-04-27 07:46] tomroy opened #491 "fetchMasterEntries parameter in AdminClient is never used."
In AdminClient's method fetchKeys and fetchEntries, both have a boolean variable
 `fetchMasterEntries` and in the end they both send this variable to a private method `initiateFetchRequest`, but in `initiateFetchRequest`, `fetchMasterEntries` is no longer used in the version on master branch.

So I think you shouldn't put `fetchMasterEntries` in fetchKeys and fetchEntries interface to confuse peop

[2018-07-02 14:41] chiquiff commented on #376
Hey! I would really appreciate a tutorial for cluster shrink aswell! Thanks!

[2018-08-03 17:22] michaelpog opened #492 "Where can I find a maven repository with the Java client?"
Do don't seem to find the Java client anywhere in maven. Nor do I see any documentation for that Java client except for these few lines of code example here https://www.project-voldemort.com/voldemort/quickstart.html

How can I use the Java client in my Java Application's maven project?
And where can I find more documentation on it?

PS: I found this https://mvnrepository.com/artifact/voldemort/vo

[2018-08-05 10:32] error0x404 opened #493 "Change all occurrences of ********** to You-Know-Who or He Who Must Not Be Named"

[2018-08-06 04:15] toko62-shubhanshu opened #494 "Could not determine java version from '10.0.2'"
when i try to run this command './gradlew clean build -x test --debug' after clone it will not able to do that and error show that Gradle version (2.4 or 4.7) not support this java 10.0.2 version so any one can help he solve this or which Gradle version is i use to avoid this error.

[2018-08-08 05:48] #493 closed

[2018-10-16 13:57] mcortinas opened #495 "Build voldemort with cache persistance with gradle ( voldemort.store.memory )"
Hi,

 I need build voldemort with cache storage library properly compiled, class called voldemort.store.memory

 I'm trying to know which parameter in build.gradle we need in order to compile library voldemort.store.memory

Marc

[2018-11-10 12:24] richylyq opened #496 "Stuck at Step 2: Start single node cluster"
finished with Step 1 but encounter the error could not find or load `main class voldemort.server.voldemortServer` when i try the command for starting the single node cluster.

[2018-11-13 10:18] #496 closed

[2018-11-21 15:53] DennisKubitza commented on #494
Had the same issue: Using an older java version (8) solved it.

[2018-12-19 16:24] rhugga opened #497 "Unable to build voldemort"
I'm new to voldemort and have been assigned to a group of developers as part of a project to containerize voldemort.

When trying to build voldemort on OracleLinux 7.6 using the 1.10.23 release I run into the following:

[code]

Thx for any help.

[2019-01-07 10:57] FDU-SE-LAB opened #498 "Your project voldemort/voldemort is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-11 03:20] kozchris commented on #497
stumbled across your question. Did you try the solutions here: https://stackoverflow.com/questions/22887829/peer-not-authenticated-while-importing-gradle-project-in-eclipse

[2019-03-14 06:50] FDUSELAB2 opened #499 "Your project voldemort/voldemort is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-06-20 15:58] AnastaciusWright opened #500 "Voldemort does not build with last versions of java"
I was not able to build voldemort with Java 12, I had to switch to Java 8 to be able to do so. This information could be added to the QuickStart Page, until this bug is fixed.

[2019-08-03 13:38] xiaoqin-fu opened #501 "Possible information leakage from SelectorManagerWorker to log without logger level control logger.isEnabledFor(Level.INFO)"
In voldemort.store.socket.clientrequest.ClientRequestExecutorFactory,
	public ClientRequestExecutor create(SocketDestination dest) {
		......
		    if(socketChannel.socket().getReceiveBufferSize() != this.socketBufferSize)
                logger.debug("Requested socket receive buffer size was " + this.socketBufferSize
                             + " bytes but actual size is "

[2019-08-03 13:42] xiaoqin-fu opened #502 "Possible information leakage from SelectorManagerWorker to log without logger level control logger.isEnabledFor(Level.INFO)"
In voldemort.common.nio.SelectorManagerWorker,
	public void run() {
		try  {
		......
		} catch(IOException e) {
				logger.info("Connection reset from " + socketChannel.socket() + " with message - "
							+ e.getMessage());
				close();
			}
Sensitive information about socketChannel socket may be leaked. The logger.isEnabledFor(Level.INFO) conditional statement should be added:

	public void run

[2019-08-03 13:45] xiaoqin-fu opened #503 "Sensitive information may be leaked from ClientRequestExecutor without control through an EOFException"
In voldemort.store.socket.clientrequest.ClientRequestExecutor,
	protected void read(SelectionKey selectionKey)  {
		......
        if((count = socketChannel.read(inputStream.getBuffer())) == -1)
            throw new EOFException("EOF for " + socketChannel.socket());
		......
	}
Sensitive information about socketChannel socket may be leaked through an EOFException.	A control such as logger.isEnabl

[2019-08-06 12:44] xiaoqin-fu opened #504 "No verification of the parameter "protocolVersion" in voldemort.server.protocol.vold.VoldemortNativeRequestHandler"
In voldemort.client.protocol.vold.VoldemortNativeClientRequestFormat, there is no protocolVersion verification:
    public VoldemortNativeClientRequestFormat(int protocolVersion) {
        this.mapper = new ErrorCodeMapper();
        this.protocolVersion = protocolVersion;
    }
The value of protocolVersion may be invalid such as <0 or >3. Thus, we need to verifiy its value:
	public VoldemortNativ

[2019-08-17 08:13] xqfu opened #505 "No verification for illegal values of the parameter "protocolVersion" in VoldemortNativeClientRequestFormat"
Operations: During voldemort system testing, I started one server and two clients, then I executed "voldemort.partition.TestDistribution" while I applied dynamic taint analyzer (distTaint). I find the bug from a tainted path finally.

   The source: voldemort.store.configuration.FileBackedCachingStorageEngine:
       private void loadData() {

        BufferedReader reader = null;
        try {

[2019-08-17 08:38] xqfu opened #506 "An information leakage from FileBackedCachingStorageEngine to ClientRequestExecutor without control through an EOFException"
Operations: During voldemort system testing, I started one server and two clients, then I executed "voldemort.partition.TestDistribution" while I applied dynamic taint analyzer (distTaint). I find the bug from a tainted path finally.

   The source: voldemort.store.configuration.FileBackedCachingStorageEngine:
       private void loadData() {

        BufferedReader reader = null;
        try {

[2019-08-17 08:45] xqfu opened #507 "Sensitive information about socketChannel socket is leaked from from FileBackedCachingStorageEngine to SelectorManagerWorker"
Operations: During voldemort system testing, I started one server and two clients, then I executed "voldemort.partition.TestDistribution" while I applied dynamic taint analyzer (distTaint). I find the bug from a tainted path finally.

   The source: voldemort.store.configuration.FileBackedCachingStorageEngine:
       private void loadData() {

        BufferedReader reader = null;
        try {

[2019-08-17 08:52] xqfu opened #508 "Sensitive information about socketChannel socket is leaked from from FileBackedCachingStorageEngine to ClientRequestExecutorFactory"
Operations: During voldemort system testing, I started one server and two clients, then I executed "voldemort.partition.TestDistribution" while I applied dynamic taint analyzer (distTaint). I find the bug from a tainted path finally.

   The source: voldemort.store.configuration.FileBackedCachingStorageEngine:
       private void loadData() {

        BufferedReader reader = null;
        try {

[2020-02-03 16:22] busbey commented on #287
heya folks. checking in as I work my way through a round of clean up in YCSB.

is the voldemort project still active? almost 2 years since the last update on client libraries here. looks like nothing merged to master 2.5 years?

https://github.com/voldemort/voldemort/graphs/contributors?from=2000-12-31&to=2020-02-03&type=c

[2020-03-15 12:42] Joserbala commented on #496
How did you solve the issue? I'm facing the same problem.

[2020-03-16 08:41] richylyq commented on #496
Hi @Joserbala
this was actually a small R&D project for school so we didn't explore much. Therefore, sorry if i cannot be of much help. You can try the following steps below, feel free to ask more qns when you are in doubt, I'll try my best to help you. Fingers crossed since it's already 1 year plus haha

clone from this repo
`https://github.com/voldemort/voldemort.git`
use this command to build t

[2020-03-18 13:20] Joserbala commented on #496
Hi @richylyq
Thanks for replying, I'm actually doing it for a college project. I didn't manage to boot it up on Windows, but in Ubuntu, after following this [tutorial](https://youtu.be/xPg46OBXJFk), it worked. I'll continue investigating why it doesn't function on Windows. My suspicions are towards the Java version.

[2020-03-21 02:47] richylyq commented on #496
Hi @Joserbala
I bet we won't be touching this if not for our school project. How's the investigation going?

[2020-03-21 22:52] bitti commented on #496
LinkedIn abandoned this project a few years back, so it's basically unsupported. If you like figuring things out in a context of a school project then you can still have a lot of fun with Voldemort. If you're on a deadline and want results quickly it would be probably better to try out a project with an active community.

[2020-03-22 01:52] richylyq commented on #496
Most of us that are trying or have tried using Voldemort, were tasked by our professor to do research on it, so we have no say on trying a project with an active community... ><lll
We can only try to support each other when the need arises

[2020-03-23 11:33] Joserbala commented on #496
Oh, nice to know! I thought it was so stable that it didn't receive any update since 2017, fool of me... But like you said, it's pretty interesting!

Nothing :( I tried updating gradle and configuring Java but it didn't work. I will use it on Ubuntu!

[2020-03-24 00:49] bitti commented on #496
Yes, I wouldn't recommend trying to run it on Windows. I think even in it's best times the support on Windows was always inferior.

[2020-03-24 01:56] richylyq commented on #496
Hey @Joserbala
Ubuntu FTW in this kind of life-threatening scenario! HAHA.

I think for me now is the issue of address already in use. I will try to debug when i am free and update here.

Would you mind explaining what issues you face after configuring Java?

[2020-03-24 11:36] Joserbala commented on #496
In Windows I still have the same issue that you described in the original comment when I execute `./bin/voldemort-server.sh config/single_node_cluster`, maybe I didn't configure Java well. Do not worry, I will use Ubuntu instead.

[2020-03-25 01:56] richylyq commented on #496
Good News. I am able to run Voldemort on Windows 10. I made some changes to the cluster.xml file as idk for some god knows why reason, my port 6666 has already been binded HAHA.
Steps to be done (Just leaving it here so others can refer in near future).
1. Download Java SE Development Kit 8u241 and remember to add  in the JDK file path at the  JAVA_HOME variable in system environment.
2. build the

[2020-03-27 12:16] Joserbala commented on #496
@richylyq thank you!
The problem I had was that I was executing the .sh file instead of the .bat file. Thank you so much!

[2020-03-28 03:06] richylyq commented on #496
@Joserbala (╯°□°）╯︵ ┻━┻

[2020-07-24 11:42] esahekmat opened #509 "VoldemortServer.createOnlineServices is public however it could be private"
Hi all,
As I was glancing at the code, I saw that this method(VoldemortServer.createOnlineServices) is public, however, its sister method "createBasicServices" is private, both of them are called in the constructor of the class. I can not find any reason why this method should be public. I want to create a PR and make this method private but I have doubt if this change breaks compatibility for cli

[2020-07-24 15:46] FelixGV commented on #509
Seems fine to make it private.

[2020-10-19 09:01] #485 closed

[2020-11-22 18:17] em010272 commented on #504
Could I open a PR for it?

[2020-11-22 18:17] em010272 commented on #503
Could I open a PR for it?

[2020-11-22 18:18] em010272 commented on #505
Could I open a PR for it?

[2020-12-09 15:19] em010272 commented on #506
Could I open a PR for it?

[2020-12-09 15:19] em010272 commented on #507
Could I open a PR for it?

[2020-12-09 15:19] em010272 commented on #508
Could I open a PR for it?

[2021-03-18 13:10] LutzWeischerFujitsu opened #518 "build fails on AArch64, Fedora 33"
[jw@cn05 ~]$ git clone https://github.com/voldemort/voldemort && cd voldemort
Cloning into 'voldemort'...
remote: Enumerating objects: 70013, done.
remote: Total 70013 (delta 0), reused 0 (delta 0), pack-reused 70013
Receiving objects: 100% (70013/70013), 205.87 MiB | 2.80 MiB/s, done.
Resolving deltas: 100% (46919/46919), done.
Updating files: 100% (1443/1443), done.
[jw@cn05 voldemort]$ ./gradle

[2021-05-31 12:21] LutzWeischerFujitsu commented on #518
Solved.

[2021-05-31 12:21] #518 closed

[2021-08-22 17:59] shreelakshmijoshi commented on #509
Hi @esahekmat !
I am a new open source contributor and would love to solve this issue, could you help me understand the issue better by providing some extra references ?

[2021-08-22 18:00] shreelakshmijoshi commented on #500
Hi @AlejandroFNadal !
I am a new open source contributor and would love to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-23 09:03] esahekmat commented on #509
Hi @shreelakshmijoshi
Actually, I am a new contributor to this project too.  I proposed the Pull Request for this issue almost 1 year ago, however, that is still open (https://github.com/voldemort/voldemort/pull/511). it seems that this project is not active anymore

[2021-08-23 09:04] esahekmat commented on #509
Also, you can see the last commit in master is for 4 years ago

[2021-08-23 09:05] shreelakshmijoshi commented on #509
@esahekmat oh okay.. Didn't know about that, thank you :)

[2021-09-30 14:31] AlejandroFNadal commented on #500
Dear @shreelakshmijoshi , Thanks for your reply. I think this project is completely dead, considering that it has not had a single commit since 2017. I would recommend focusing your energies elsewhere, where they will be more useful.

[2021-09-30 15:25] FelixGV commented on #500
That is correct, Voldemort is not actively developed anymore. It used to be primarily developed by LinkedIn (though there were a few external contributors here and there), and it got replaced by other systems within LinkedIn. Some of the Voldemort use cases migrated to [Pinot](https://github.com/apache/pinot), which is open-source and thriving, so you may want to check this out. Other use cases mi

[2021-09-30 15:30] shreelakshmijoshi commented on #500
Hey @FelixGV ! I didn't know that, Thanks for the information !

[2021-09-30 15:34] FelixGV commented on #500
That being said, if someone else wishes to take over the development of Voldemort, I don't think there would be much concern in sharing the access. Unless some of the old timers would prefer not to? @vinothchandar, @arunthirupathi, @afeinberg, etc...

[2022-01-21 03:21] afeinberg commented on #500
Is the issue related to the use of unsafe in Voldemort read-only? I can take a stab at fixing it and putting that into my private fork.

[2022-11-24 14:46] miguelgmcs commented on #495
hey Marc, no luck on this yet? :trollface: